{
  "swagger" : "2.0",
  "host": "api.bol.com",
  "schemes": ["https"],
  "info" : {
    "description" : "The bol.com API for Retailers.",
    "version" : "4.0",
    "title" : "v4"
  },
  "tags" : [ {
    "name" : "BETA"
  }, {
    "name" : "Commissions"
  }, {
    "name" : "Inbounds"
  }, {
    "name" : "Insights"
  }, {
    "name" : "Inventory"
  }, {
    "name" : "Invoices"
  }, {
    "name" : "Offers"
  }, {
    "name" : "Orders"
  }, {
    "name" : "Pricing"
  }, {
    "name" : "Process status"
  }, {
    "name" : "Product Content"
  }, {
    "name" : "Returns"
  }, {
    "name" : "Shipments"
  }, {
    "name" : "Shipping Labels"
  }, {
    "name" : "Subscriptions"
  }, {
    "name" : "Transports"
  } ],
  "paths" : {
    "/retailer/commission" : {
      "post" : {
        "tags" : [ "Commissions" ],
        "summary" : "Get all commissions and reductions by EAN in bulk",
        "description" : "Gets all commissions and possible reductions by EAN, condition and optionally price.",
        "operationId" : "get-commissions",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/BulkCommissionRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/BulkCommissionResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/commission/{ean}" : {
      "get" : {
        "tags" : [ "Commissions" ],
        "summary" : "Get all commissions and reductions by EAN per single EAN",
        "description" : "Commissions can be filtered by condition, which defaults to NEW. If price is provided, the exact commission amount will also be calculated.",
        "operationId" : "get-commission",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this product.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        }, {
          "name" : "condition",
          "in" : "query",
          "description" : "The condition of the offer.",
          "required" : false,
          "type" : "string",
          "default" : "NEW",
          "enum" : [ "NEW", "AS_NEW", "GOOD", "REASONABLE", "MODERATE" ]
        }, {
          "name" : "unit-price",
          "in" : "query",
          "description" : "The price of the product with a period as a decimal separator. The price should always have two decimals precision.",
          "required" : true,
          "type" : "number",
          "x-example" : 59.0
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Commission"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/content/product" : {
      "post" : {
        "tags" : [ "Product Content" ],
        "summary" : "Post product content",
        "description" : "Create content for existing products or new products.",
        "operationId" : "post-product-content",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateProductContentRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/content/validation-report/{uploadId}" : {
      "get" : {
        "tags" : [ "Product Content" ],
        "summary" : "Get validation report",
        "description" : "Retrieve a validation report of the product content upload based on the upload id.",
        "operationId" : "get-validation-report",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "uploadId",
          "in" : "path",
          "description" : "The identifier of the product content upload.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ValidationReportResponse"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/inbounds" : {
      "get" : {
        "tags" : [ "Inbounds" ],
        "summary" : "Get inbound shipment list",
        "description" : "A paginated list of all inbound shipments.",
        "operationId" : "get-inbounds",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "reference",
          "in" : "query",
          "description" : "A user defined reference to identify the inbound shipment.",
          "required" : false,
          "type" : "string",
          "x-example" : "SHIPMENT1"
        }, {
          "name" : "bsku",
          "in" : "query",
          "description" : "The BSKU number associated with this product.",
          "required" : false,
          "type" : "string",
          "x-example" : "2950002126612"
        }, {
          "name" : "creation-start-date",
          "in" : "query",
          "description" : "The creation start date and time to find the inbound shipment in ISO 8601 format.",
          "required" : false,
          "type" : "string",
          "x-example" : "2020-01-01"
        }, {
          "name" : "creation-end-date",
          "in" : "query",
          "description" : "The end date of the range to find the inbound shipment, in ISO 8601 format.",
          "required" : false,
          "type" : "string",
          "x-example" : "2020-01-01"
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The current state of the inbound shipment.",
          "required" : false,
          "type" : "string",
          "x-example" : "DRAFT",
          "enum" : [ "DRAFT", "PREANNOUNCED", "ARRIVEDATWH", "CANCELLED" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Inbounds"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Inbounds" ],
        "summary" : "Post inbound shipment",
        "description" : "Create a new inbound shipment.",
        "operationId" : "post-inbound",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/InboundRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/inbounds/delivery-windows" : {
      "get" : {
        "tags" : [ "Inbounds" ],
        "summary" : "Get delivery windows for new inbound shipments",
        "description" : "Retrieve a list of available delivery windows when creating a new inbound shipment.",
        "operationId" : "get-delivery-windows",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "delivery-date",
          "in" : "query",
          "description" : "The expected delivery date for the inbound in ISO 8601 format.",
          "required" : false,
          "type" : "string",
          "default" : "Today's date.",
          "x-example" : "2020-01-01"
        }, {
          "name" : "items-to-send",
          "in" : "query",
          "description" : "The number of items that will be sent in the inbound.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Delivery windows for inbound shipments."
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/inbounds/inbound-transporters" : {
      "get" : {
        "tags" : [ "Inbounds" ],
        "summary" : "Get inbound transporters list",
        "description" : "Get all available transporters that carry out transports for inbound shipments.",
        "operationId" : "get-inbound-transporters",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/TransportersResponse"
            }
          }
        }
      }
    },
    "/retailer/inbounds/productlabels" : {
      "post" : {
        "tags" : [ "Inbounds" ],
        "summary" : "Get inbound product labels by EAN",
        "description" : "Get inbound product labels by EAN.",
        "operationId" : "get-product-labels",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+pdf" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ProductLabelsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/inbounds/{inbound-id}" : {
      "get" : {
        "tags" : [ "Inbounds" ],
        "summary" : "Get inbound by inbound id",
        "description" : "Get inbound details by inbound id.",
        "operationId" : "get-inbound",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "inbound-id",
          "in" : "path",
          "description" : "A unique identifier for an inbound shipment.",
          "required" : true,
          "type" : "integer",
          "format" : "int64",
          "x-example" : 12345678
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Inbound"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/inbounds/{inbound-id}/packinglist" : {
      "get" : {
        "tags" : [ "Inbounds" ],
        "summary" : "Get packing list by inbound id",
        "description" : "Get packing list by inbound id.",
        "operationId" : "get packing list",
        "produces" : [ "application/vnd.retailer.v4+pdf" ],
        "parameters" : [ {
          "name" : "inbound-id",
          "in" : "path",
          "description" : "A unique identifier for an inbound shipment.",
          "required" : true,
          "type" : "integer",
          "format" : "int64",
          "x-example" : 12345678
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/inbounds/{inbound-id}/shippinglabel" : {
      "get" : {
        "tags" : [ "Inbounds" ],
        "summary" : "Get inbound shipping label by inbound id",
        "description" : "Get inbound shipping label by inbound id.",
        "operationId" : "get-inbound-shipping-label",
        "produces" : [ "application/vnd.retailer.v4+pdf" ],
        "parameters" : [ {
          "name" : "inbound-id",
          "in" : "path",
          "description" : "A unique identifier for an inbound shipment.",
          "required" : true,
          "type" : "integer",
          "format" : "int64",
          "x-example" : 12345678
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/insights/offer" : {
      "get" : {
        "tags" : [ "Insights" ],
        "summary" : "Get offer insights",
        "description" : "Gets offer insights.",
        "operationId" : "get-offer-insights",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "query",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "The time unit in which the offer insights are grouped.",
          "required" : true,
          "type" : "string",
          "enum" : [ "DAY", "WEEK", "MONTH" ]
        }, {
          "name" : "number-of-periods",
          "in" : "query",
          "description" : "The number of periods for which the offer insights are requested back in time.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "The name of the requested offer insight.",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "PRODUCT_VISITS", "BUY_BOX_PERCENTAGE" ]
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/OfferInsights"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/insights/performance/indicator" : {
      "get" : {
        "tags" : [ "Insights" ],
        "summary" : "Get performance indicators",
        "description" : "Gets the measurements for your performance indicators per week.",
        "operationId" : "get-performance-indicator",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : "The type of the performance indicator",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "CANCELLATIONS", "FULFILMENT", "PHONE_AVAILABILITY", "RESPONSE_TIME", "CASE_ITEM_RATIO", "TRACK_AND_TRACE", "RETURNS", "REVIEWS" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year number in the ISO-8601 standard.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "week",
          "in" : "query",
          "description" : "Week number in the ISO-8601 standard. If you would like to get the relative scores from the current week, please provide the current week number here. Be advised that measurements can change heavily over the course of the week.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/PerformanceIndicators"
            }
          }
        }
      }
    },
    "/retailer/insights/sales-forecast" : {
      "get" : {
        "tags" : [ "Insights" ],
        "summary" : "Get sales forecast",
        "description" : "Gets sales forecast.",
        "operationId" : "get-sales-forecast",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "query",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "weeks-ahead",
          "in" : "query",
          "description" : "The number of weeks into the future, starting from today.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SalesForecastResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/inventory" : {
      "get" : {
        "tags" : [ "Inventory" ],
        "summary" : "Get LVB/FBB inventory",
        "description" : "The inventory endpoint is a specific LVB/FBB endpoint. It provides a paginated list containing your fulfilment by bol.com inventory. This endpoint does not provide information about your own stock.",
        "operationId" : "get-inventory",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        }, {
          "name" : "quantity",
          "in" : "query",
          "description" : "Filter inventory by providing a range of quantity (min-range)-(max-range).",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi",
          "x-example" : "0-10,20-30"
        }, {
          "name" : "stock",
          "in" : "query",
          "description" : "Filter inventory by stock level.",
          "required" : false,
          "type" : "string",
          "x-example" : "SUFFICIENT",
          "enum" : [ "SUFFICIENT", "INSUFFICIENT" ]
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Filter inventory by stock type.",
          "required" : false,
          "type" : "string",
          "x-example" : "REGULAR",
          "enum" : [ "REGULAR", "GRADED" ]
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Filter inventory by EAN or product title.",
          "required" : false,
          "type" : "string",
          "x-example" : "0000007740404"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/InventoryResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/invoices" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Get all invoices",
        "description" : "Gets a list of invoices, by default from the past 4 weeks. The optional period-start-date and period-end-date-date parameters can be used together to retrieve invoices from a specific date range in the past, the period can be no longer than 31 days. Invoices and their specifications can be downloaded separately in different media formats with the ‘GET an invoice by id’ and the ‘GET an invoice specification by id’ calls. The available media types differ per invoice and are listed per invoice within the response. Note: the media types listed in the response must be given in our standard API format.",
        "operationId" : "get-invoices",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "period-start-date",
          "in" : "query",
          "description" : "Period start date in ISO 8601 standard.",
          "required" : false,
          "type" : "string",
          "x-example" : "2019-03-01"
        }, {
          "name" : "period-end-date",
          "in" : "query",
          "description" : "Period end date in ISO 8601 standard.",
          "required" : false,
          "type" : "string",
          "x-example" : "2019-03-31"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/invoices/{invoice-id}" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Get an invoice by invoice id",
        "description" : "Gets an invoice by invoice id. The available media types differ per invoice and are listed within the response from the ‘GET all invoices’ call. Note: the media types listed in the response must be given in our standard API format.",
        "operationId" : "get-invoice",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml", "application/vnd.retailer.v4+pdf" ],
        "parameters" : [ {
          "name" : "invoice-id",
          "in" : "path",
          "description" : "The id of the invoice",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/invoices/{invoice-id}/specification" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Get an invoice specification by invoice id",
        "description" : "Gets an invoice specification for an invoice with a paginated list of its transactions. The available media types differ per invoice specification and are listed within the response from the ‘GET all invoices’ call. Note, the media types listed in the response must be given in our standard API format.",
        "operationId" : "get-invoice-specification",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml", "application/vnd.retailer.v4+pdf", "application/vnd.retailer.v4+openxmlformats-officedocument.spreadsheetml.sheet" ],
        "parameters" : [ {
          "name" : "invoice-id",
          "in" : "path",
          "description" : "The id of the invoice.",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The page to get. Each page contains a maximum of 25.000 lines.",
          "required" : false,
          "type" : "integer",
          "minimum" : 1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers" : {
      "post" : {
        "tags" : [ "Offers" ],
        "summary" : "Create a new offer",
        "description" : "Creates a new offer, and adds it to the catalog. After creation, status information can be retrieved to review if the offer is valid and published to the shop.",
        "operationId" : "post-offer",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateOfferRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/export" : {
      "post" : {
        "tags" : [ "Offers" ],
        "summary" : "Request an offer export file",
        "description" : "Request an offer export file containing all offers.",
        "operationId" : "post-offer-export",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateOfferExportRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/export/{report-id}" : {
      "get" : {
        "tags" : [ "Offers" ],
        "summary" : "Retrieve an offer export file by offer export id",
        "description" : "Retrieve an offer export file containing all offers.",
        "operationId" : "get-offer-export",
        "produces" : [ "application/vnd.retailer.v4+csv" ],
        "parameters" : [ {
          "name" : "report-id",
          "in" : "path",
          "description" : "Unique identifier for an offer export report.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request."
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/unpublished" : {
      "post" : {
        "tags" : [ "Offers", "BETA" ],
        "summary" : "BETA: Request an unpublished offer report",
        "description" : "Request an unpublished offer report containing all unpublished offers and reasons.",
        "operationId" : "post-unpublished-offer-report",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateUnpublishedOfferReportRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/unpublished/{report-id}" : {
      "get" : {
        "tags" : [ "Offers", "BETA" ],
        "summary" : "BETA: Retrieve an unpublished offer report by report id",
        "description" : "Retrieve an unpublished offer report containing all unpublished offers and reasons.",
        "operationId" : "get-unpublished-offer-report",
        "produces" : [ "application/vnd.retailer.v4+csv" ],
        "parameters" : [ {
          "name" : "report-id",
          "in" : "path",
          "description" : "Unique identifier for unpublished offer report.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request."
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/{offer-id}" : {
      "get" : {
        "tags" : [ "Offers" ],
        "summary" : "Retrieve an offer by its offer id",
        "description" : "Retrieve an offer by using the offer id provided to you when creating or listing your offers.",
        "operationId" : "get-offer",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/RetailerOffer"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Offers" ],
        "summary" : "Update an offer",
        "description" : "Use this endpoint to send an offer update. This endpoint returns a process status.",
        "operationId" : "put-offer",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateOfferRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Offers" ],
        "summary" : "Delete offer by id",
        "description" : "Delete an offer by id.",
        "operationId" : "delete-offer",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/{offer-id}/price" : {
      "put" : {
        "tags" : [ "Offers" ],
        "summary" : "Update price(s) for offer by id",
        "description" : "Update price(s) for offer by id.",
        "operationId" : "update-offer-price",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateOfferPriceRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/{offer-id}/stock" : {
      "put" : {
        "tags" : [ "Offers" ],
        "summary" : "Update stock for offer by id",
        "description" : "Update stock for offer by id.",
        "operationId" : "update-offer-stock",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateOfferStockRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/orders" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get open orders",
        "description" : "Gets a paginated list of all open orders sorted by date in descending order.",
        "operationId" : "get-orders",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32"
        }, {
          "name" : "fulfilment-method",
          "in" : "query",
          "description" : "The fulfilment method. Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB).",
          "required" : false,
          "type" : "string",
          "default" : "FBR",
          "enum" : [ "FBR", "FBB" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ReducedOrders"
            }
          }
        }
      }
    },
    "/retailer/orders/cancellation" : {
      "put" : {
        "tags" : [ "Orders" ],
        "summary" : "Cancel an order item by an order item id",
        "description" : "This endpoint can be used to either confirm a cancellation request by the customer or to cancel an order item you yourself are unable to fulfil.",
        "operationId" : "cancel-order-item",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Container for the order items that have to be cancelled."
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/orders/shipment" : {
      "put" : {
        "tags" : [ "Orders" ],
        "summary" : "Ship order item",
        "description" : "Ship a single order item within a customer order by providing shipping information. In case you purchased a shipping label you can add the shippingLabelId to this message; in that case the transport element must be left empty. If you ship the item(s) using your own transporter method you must omit the shippingLabelId entirely.",
        "operationId" : "ship-order-item",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ShipmentRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/orders/{order-id}" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get an open order by order id",
        "description" : "Gets an open order by order id.",
        "operationId" : "get-order",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "order-id",
          "in" : "path",
          "description" : "The id of the open order to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Order"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/pricing/retail-prices/{ean}" : {
      "get" : {
        "tags" : [ "Pricing", "BETA" ],
        "summary" : "BETA: Retrieve retail price information for an EAN.",
        "description" : "Currently this endpoint only supports the allowable retail price and can support the following use cases:<br /><br />\n                    1) EANs that have been unpublished due to price related reasons can be checked against this endpoint.<br />\n                    2) Requesting the allowable retail price for EANs that are not yet in your assortment can help inform price setting.",
        "operationId" : "get-retail-price",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this product.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/RetailPriceResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/process-status" : {
      "get" : {
        "tags" : [ "Process status" ],
        "summary" : "Gets the status of an asynchronous process by entity id and event type for a retailer",
        "description" : "Retrieve a list of process statuses, which shows information regarding previously executed PUT/POST/DELETE requests in descending order. You need to supply an entity id and event type. Please note: process status instances are only retained for a limited period of time after completion. Outside of this period, deleted process statuses will no longer be returned. Please handle this accordingly, by stopping any active polling for these statuses.",
        "operationId" : "get-process-status-entity-id",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "entity-id",
          "in" : "query",
          "description" : "The entity id is not unique so you need to provide an event type. The entity id can either be order item id, transport id, return number or inbound reference.",
          "required" : true,
          "type" : "string",
          "x-example" : "987654321"
        }, {
          "name" : "event-type",
          "in" : "query",
          "description" : "The event type can only be used in combination with the entity id.",
          "required" : true,
          "type" : "string",
          "x-example" : "CONFIRM_SHIPMENT",
          "enum" : [ "CONFIRM_SHIPMENT", "CANCEL_ORDER", "CHANGE_TRANSPORT", "HANDLE_RETURN_ITEM", "CREATE_RETURN_ITEM", "CREATE_INBOUND", "DELETE_OFFER", "CREATE_OFFER", "UPDATE_OFFER", "UPDATE_OFFER_STOCK", "UPDATE_OFFER_PRICE", "CREATE_OFFER_EXPORT", "UNPUBLISHED_OFFER_REPORT", "CREATE_PRODUCT_CONTENT", "CREATE_SUBSCRIPTION", "UPDATE_SUBSCRIPTION", "DELETE_SUBSCRIPTION", "SEND_SUBSCRIPTION_TST_MSG", "CREATE_SHIPPING_LABEL" ]
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatusResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Process status" ],
        "summary" : "Gets the status of multiple asynchronous processes by an array of process status id's for a retailer",
        "description" : "Retrieve a list of process statuses, which shows information regarding previously executed PUT/POST/DELETE requests. No more than 1000 process status id's can be sent in a single request.Please note: process status instances are only retained for a limited period of time after completion. Outside of this period, deleted process statuses will no longer be returned. Please handle this accordingly, by stopping any active polling for these statuses.",
        "operationId" : "get-process-status-bulk",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/BulkProcessStatusRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatusResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/process-status/{process-status-id}" : {
      "get" : {
        "tags" : [ "Process status" ],
        "summary" : "Get the status of an asynchronous process by id",
        "description" : "Retrieve a specific process-status, which shows information regarding a previously executed PUT/POST/DELETE request. All PUT/POST/DELETE requests on the other endpoints will supply a process-status-id in the related response. You can use this id to retrieve a status by using the endpoint below. Please note: process status instances are only retained for a limited period of time after completion. Outside of this period, a 404 will be returned for missing process statuses. Please handle this accordingly, by stopping any active polling for these statuses.",
        "operationId" : "get-process-status",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "process-status-id",
          "in" : "path",
          "description" : "The id of the process status being requested. This id is supplied in every response to a PUT/POST/DELETE request on the other endpoints.",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/returns" : {
      "get" : {
        "tags" : [ "Returns" ],
        "summary" : "Get returns",
        "description" : "Get a paginated list of multi-item returns, which are sorted by date in descending order.",
        "operationId" : "get-returns",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page to get with a page size of 50.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32"
        }, {
          "name" : "handled",
          "in" : "query",
          "description" : "The status of the returns you wish to see, shows either handled or unhandled returns.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "fulfilment-method",
          "in" : "query",
          "description" : "The fulfilment method. Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB).",
          "required" : false,
          "type" : "string",
          "default" : "FBR",
          "enum" : [ "FBR", "FBB" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ReturnsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Returns" ],
        "summary" : "Create return",
        "description" : "Create a return, and automatically handle it with the provided handling result. When successfully created, the resulting return id is provided in the process status.",
        "operationId" : "create-return",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateReturnRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/returns/{return-id}" : {
      "get" : {
        "tags" : [ "Returns" ],
        "summary" : "Get a return by return id",
        "description" : "Retrieve a return based on the return id.",
        "operationId" : "get-return",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "return-id",
          "in" : "path",
          "description" : "Unique identifier for a return.",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Return"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/returns/{rma-id}" : {
      "put" : {
        "tags" : [ "Returns" ],
        "summary" : "Handle a return",
        "description" : "Allows the user to handle a return. This can be to either handle an open return, or change the handlingResult of an already handled return. The latter is only possible in limited scenarios, please check the returns documentation for a complete list.",
        "operationId" : "handle-return",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "rma-id",
          "in" : "path",
          "description" : "The RMA (Return Merchandise Authorization) id that identifies this particular return.",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The handling result requested by the retailer.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ReturnRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipments" : {
      "get" : {
        "tags" : [ "Shipments" ],
        "summary" : "Get shipment list",
        "description" : "A paginated list to retrieve all your shipments up to 3 months old. The shipments will be sorted by date in descending order.",
        "operationId" : "get-shipments",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page to get with a page size of 50.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "fulfilment-method",
          "in" : "query",
          "description" : "The fulfilment method. Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB).",
          "required" : false,
          "type" : "string",
          "default" : "FBR",
          "enum" : [ "FBR", "FBB" ]
        }, {
          "name" : "order-id",
          "in" : "query",
          "description" : "The id of the order. Only valid without fulfilment-method. The default fulfilment-method is ignored.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ShipmentResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipments/{shipment-id}" : {
      "get" : {
        "tags" : [ "Shipments" ],
        "summary" : "Get a shipment by shipment id",
        "description" : "Retrieve a single shipment by its corresponding id.",
        "operationId" : "get-shipment",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "shipment-id",
          "in" : "path",
          "description" : "The id of the shipment.",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Shipment"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipping-labels" : {
      "post" : {
        "tags" : [ "Shipping Labels" ],
        "summary" : "Create a shipping label",
        "description" : "Create a shipping label with a shipping label offer id retrieved from get delivery options.",
        "operationId" : "post-shipping-label",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ShippingLabelRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipping-labels/delivery-options" : {
      "post" : {
        "tags" : [ "Shipping Labels" ],
        "summary" : "Get delivery options for a shippable configuration of a number of order items within an order.",
        "description" : "Retrieves all available delivery options based on the supplied configuration of order items that has to be shipped.",
        "operationId" : "get-delivery-options",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliveryOptionsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/DeliveryOptionsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipping-labels/{shipping-label-id}" : {
      "get" : {
        "tags" : [ "Shipping Labels" ],
        "summary" : "Get a shipping label",
        "description" : "Gets a shipping label by shipping label id.",
        "operationId" : "get-shipping-label",
        "produces" : [ "application/vnd.retailer.v4+pdf" ],
        "parameters" : [ {
          "name" : "shipping-label-id",
          "in" : "path",
          "description" : "The shipping label id.",
          "required" : true,
          "type" : "string",
          "x-example" : "6ff736b5-cdd0-4150-8c67-78269ee986f5"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/subscriptions" : {
      "get" : {
        "tags" : [ "Subscriptions", "BETA" ],
        "summary" : "BETA: Get push notification subscriptions",
        "description" : "Retrieve a list of all configured and active push notification subscriptions.",
        "operationId" : "get-push-notification-subscriptions",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SubscriptionsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Subscriptions", "BETA" ],
        "summary" : "BETA: Create push notification subscription",
        "description" : "Create a push notification subscription for one (or more) of the available resources. The configured URL has to support https scheme.",
        "operationId" : "post-push-notification-subscription",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateSubscriptionRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/subscriptions/signature-keys" : {
      "get" : {
        "tags" : [ "Subscriptions", "BETA" ],
        "summary" : "BETA: Retrieve public keys for push notification signature validation.",
        "description" : "Retrieve a list of public keys that should be used to validate the signature header for push notifications received from bol.com",
        "operationId" : "get-subscription-keys",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/KeySetResponse"
            }
          }
        }
      }
    },
    "/retailer/subscriptions/test" : {
      "post" : {
        "tags" : [ "Subscriptions", "BETA" ],
        "summary" : "BETA: Send test push notification for subscriptions",
        "description" : "Send a test push notification to all subscriptions for the provided event.",
        "operationId" : "post-test-push-notification",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/subscriptions/{subscription-id}" : {
      "get" : {
        "tags" : [ "Subscriptions", "BETA" ],
        "summary" : "BETA: Get push notification subscription by id",
        "description" : "Retrieve a configured and active push notification subscription with the provided id.",
        "operationId" : "get-push-notification-subscription",
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "subscription-id",
          "in" : "path",
          "description" : "A unique identifier for the subscription",
          "required" : true,
          "type" : "integer",
          "format" : "int64",
          "x-example" : 1234
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SubscriptionResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Subscriptions", "BETA" ],
        "summary" : "BETA: Update push notification subscription",
        "description" : "Update an existing push notification subscription with the supplied id. The configured URL has to support https scheme.",
        "operationId" : "put-push-notification-subscription",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "subscription-id",
          "in" : "path",
          "description" : "A unique identifier for the subscription",
          "required" : true,
          "type" : "integer",
          "format" : "int64",
          "x-example" : 1234
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateSubscriptionRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Subscriptions", "BETA" ],
        "summary" : "BETA: Delete push notification subscription",
        "description" : "Delete a push notification subscription with the provided id.",
        "operationId" : "delete-push-notification-subscription",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "subscription-id",
          "in" : "path",
          "description" : "A unique identifier for the subscription",
          "required" : true,
          "type" : "integer",
          "format" : "int64",
          "x-example" : 1234
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/transports/{transport-id}" : {
      "put" : {
        "tags" : [ "Transports" ],
        "summary" : "Add transport information by transport id",
        "description" : "Add information to an existing transport. The transport id is part of the shipment. You can retrieve the transport id through the GET shipment list request.",
        "operationId" : "add-transport-information-by-transport-id",
        "consumes" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "produces" : [ "application/vnd.retailer.v4+json", "application/vnd.retailer.v4+xml" ],
        "parameters" : [ {
          "name" : "transport-id",
          "in" : "path",
          "description" : "The transport id.",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The change transport requested by the user.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ChangeTransportRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "AdditionalService" : {
      "type" : "object",
      "properties" : {
        "serviceType" : {
          "type" : "string",
          "example" : "PLACEMENT_AND_INSTALLATION",
          "description" : "An additional service type that the customer selected when purchasing this order item."
        }
      }
    },
    "Attribute" : {
      "type" : "object",
      "required" : [ "id", "values" ],
      "properties" : {
        "id" : {
          "type" : "string",
          "example" : "Width",
          "description" : "Identifier of the attribute from the data model.",
          "minLength" : 1,
          "maxLength" : 100
        },
        "values" : {
          "type" : "array",
          "description" : "A list of attribute values.",
          "items" : {
            "$ref" : "#/definitions/AttributeValue"
          }
        }
      }
    },
    "AttributeValue" : {
      "type" : "object",
      "required" : [ "value" ],
      "properties" : {
        "value" : {
          "type" : "string",
          "example" : "14.5",
          "description" : "The value of the attribute.",
          "minLength" : 1,
          "maxLength" : 10000
        },
        "unitId" : {
          "type" : "string",
          "example" : "mm",
          "description" : "The unit identifier of the attribute."
        }
      }
    },
    "BillingDetails" : {
      "type" : "object",
      "properties" : {
        "salutation" : {
          "type" : "string",
          "example" : "MALE",
          "description" : "The salutation of the customer.",
          "enum" : [ "MALE", "FEMALE", "UNKNOWN" ]
        },
        "firstName" : {
          "type" : "string",
          "example" : "Billie",
          "description" : "The first name of the customer."
        },
        "surname" : {
          "type" : "string",
          "example" : "Jansen",
          "description" : "The surname of the customer."
        },
        "streetName" : {
          "type" : "string",
          "example" : "Dorpstraat",
          "description" : "The street name."
        },
        "houseNumber" : {
          "type" : "string",
          "example" : "1",
          "description" : "The house number."
        },
        "houseNumberExtension" : {
          "type" : "string",
          "example" : "B",
          "description" : "The extension on the house number."
        },
        "extraAddressInformation" : {
          "type" : "string",
          "example" : "Apartment",
          "description" : "Additional information related to the address that helps in delivering the package."
        },
        "zipCode" : {
          "type" : "string",
          "example" : "1111ZZ",
          "description" : "The ZIP code in '1234AB' format for NL orders and '0000' format for BE orders."
        },
        "city" : {
          "type" : "string",
          "example" : "Utrecht",
          "description" : "The name of the city."
        },
        "countryCode" : {
          "type" : "string",
          "example" : "NL",
          "description" : "The country code."
        },
        "email" : {
          "type" : "string",
          "example" : "billie@verkopen.bol.com",
          "description" : "A scrambled email address that can be used to contact the customer."
        },
        "company" : {
          "type" : "string",
          "example" : "bol.com",
          "description" : "The company name."
        },
        "vatNumber" : {
          "type" : "string",
          "example" : "NL999999999B99",
          "description" : "The Value Added Tax (VAT) / BTW number for business sellers situated in the Netherlands."
        },
        "kvkNumber" : {
          "type" : "string",
          "example" : "99887766",
          "description" : "The Kamer van Koophandel (kvk) number for organizations situated in the Netherlands or ondernemingsnummer for organizations situated in Belgium."
        },
        "orderReference" : {
          "type" : "string",
          "example" : "MijnReferentie",
          "description" : "The order reference specified by the customer when ordering a product."
        }
      },
      "description" : "The details of the customer that is responsible for the financial fulfillment of this order."
    },
    "BulkCommissionQuery" : {
      "type" : "object",
      "required" : [ "ean", "unitPrice" ],
      "properties" : {
        "ean" : {
          "type" : "string",
          "example" : "0000007740404",
          "description" : "The EAN number associated with this product."
        },
        "condition" : {
          "type" : "string",
          "example" : "NEW",
          "description" : "The condition of the offer.",
          "enum" : [ "NEW", "AS_NEW", "GOOD", "REASONABLE", "MODERATE" ]
        },
        "unitPrice" : {
          "type" : "number",
          "example" : 59.0,
          "description" : "The price of the product with a period as a decimal separator. The price should always have two decimals precision.",
          "minimum" : 0,
          "maximum" : 9999
        }
      }
    },
    "BulkCommissionRequest" : {
      "type" : "object",
      "required" : [ "commissionQueries" ],
      "properties" : {
        "commissionQueries" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/BulkCommissionQuery"
          },
          "maxItems" : 20,
          "minItems" : 1
        }
      }
    },
    "BulkCommissionResponse" : {
      "type" : "object",
      "required" : [ "commissions" ],
      "properties" : {
        "commissions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Commission"
          }
        }
      }
    },
    "BulkProcessStatusRequest" : {
      "type" : "object",
      "required" : [ "processStatusQueries" ],
      "properties" : {
        "processStatusQueries" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/ProcessStatusId"
          },
          "maxItems" : 1000,
          "minItems" : 1
        }
      }
    },
    "BundlePrice" : {
      "type" : "object",
      "required" : [ "quantity", "unitPrice" ],
      "properties" : {
        "quantity" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 1,
          "description" : "The minimum quantity a customer must order in order to receive discount. The element with value 1 must at least be present. In case of using more elements, the respective quantities must be in increasing order.",
          "minimum" : 1,
          "maximum" : 24
        },
        "unitPrice" : {
          "type" : "number",
          "example" : 9.99,
          "description" : "The price per single unit including VAT in case the customer orders at least the quantity provided. When using more than 1 price, the respective prices must be in decreasing order using 2 decimal precision and dot separated.",
          "minimum" : 1,
          "maximum" : 9999
        }
      }
    },
    "ChangeTransportRequest" : {
      "type" : "object",
      "properties" : {
        "transporterCode" : {
          "type" : "string",
          "example" : "TNT",
          "enum" : [ "BRIEFPOST", "UPS", "TNT", "TNT-EXTRA", "TNT_BRIEF", "TNT-EXPRESS", "DYL", "DPD-NL", "DPD-BE", "BPOST_BE", "BPOST_BRIEF", "DHLFORYOU", "GLS", "FEDEX_NL", "FEDEX_BE", "OTHER", "DHL", "DHL_DE", "DHL-GLOBAL-MAIL", "TSN", "FIEGE", "TRANSMISSION", "PARCEL-NL", "LOGOIX", "PACKS", "COURIER", "RJP" ]
        },
        "trackAndTrace" : {
          "type" : "string",
          "example" : "3SBOL0987654321",
          "description" : "The track and trace code that is associated with this transport."
        }
      }
    },
    "Commission" : {
      "type" : "object",
      "required" : [ "reductions", "unitPrice" ],
      "properties" : {
        "ean" : {
          "type" : "string",
          "example" : "0000007740404",
          "description" : "The EAN number associated with this product."
        },
        "condition" : {
          "type" : "string",
          "example" : "NEW",
          "description" : "The condition of the offer."
        },
        "unitPrice" : {
          "type" : "number",
          "example" : 59.0,
          "description" : "The intended selling price per single unit up to 2 decimals precision, including VAT."
        },
        "fixedAmount" : {
          "type" : "number",
          "example" : 0.99,
          "description" : "A fixed commission fee, including VAT."
        },
        "percentage" : {
          "type" : "number",
          "example" : 15.0,
          "description" : "A percentage of commission, based on the intended selling price per unit, including VAT."
        },
        "totalCost" : {
          "type" : "number",
          "example" : 6.85,
          "description" : "The total commission for selling this product at bol.com. The price includes VAT for Dutch sellers, and excludes VAT for Belgium sellers."
        },
        "totalCostWithoutReduction" : {
          "type" : "number",
          "example" : 9.84,
          "description" : "The total commission for selling this product at bol.com without reductions including VAT."
        },
        "reductions" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/Reduction"
          }
        }
      }
    },
    "Condition" : {
      "type" : "object",
      "required" : [ "name" ],
      "properties" : {
        "name" : {
          "type" : "string",
          "example" : "AS_NEW",
          "description" : "The condition of the offered product.",
          "enum" : [ "NEW", "AS_NEW", "GOOD", "REASONABLE", "MODERATE" ]
        },
        "category" : {
          "type" : "string",
          "example" : "SECONDHAND",
          "description" : "The category of the condition. If not given NEW or SECONDHAND is derived from NAME.",
          "enum" : [ "NEW", "SECONDHAND" ]
        },
        "comment" : {
          "type" : "string",
          "example" : "Heeft een koffie vlek op de kaft.",
          "description" : "The description of the condition of the product. Only allowed if name is not NEW and may not contain e-mail addresses.",
          "minLength" : 0,
          "maxLength" : 2000
        }
      }
    },
    "Container for the order items that have to be cancelled." : {
      "type" : "object",
      "required" : [ "orderItems" ],
      "properties" : {
        "orderItems" : {
          "type" : "array",
          "description" : "List of order items to cancel. Order item id's must belong to the same order.",
          "items" : {
            "$ref" : "#/definitions/OrderItemCancellation"
          },
          "maxItems" : 1,
          "minItems" : 1
        }
      }
    },
    "Countries" : {
      "type" : "object",
      "properties" : {
        "countryCode" : {
          "type" : "string",
          "example" : "NL",
          "description" : "Countries in which this offer is currently on sale in the webshop, in ISO-3166-1 format"
        },
        "minimum" : {
          "type" : "number",
          "format" : "double",
          "example" : 10.5,
          "description" : "Minimum number of estimated sales expectations on the bol.com platform."
        },
        "maximum" : {
          "type" : "number",
          "format" : "double",
          "example" : 20.5,
          "description" : "Maximum number of estimated sales expectations on the bol.com platform."
        }
      }
    },
    "Country" : {
      "type" : "object",
      "properties" : {
        "countryCode" : {
          "type" : "string",
          "example" : "NL",
          "description" : "Countries in which this offer is currently on sale in the webshop, in ISO-3166-1 format"
        },
        "value" : {
          "type" : "number",
          "format" : "double",
          "example" : 100.0,
          "description" : "The total value of offer insight."
        }
      }
    },
    "CountryCode" : {
      "type" : "object",
      "properties" : {
        "countryCode" : {
          "type" : "string",
          "example" : "NL",
          "description" : "Countries in which this offer is currently on sale in the webshop, in ISO-3166-1 format"
        }
      }
    },
    "CreateOfferExportRequest" : {
      "type" : "object",
      "required" : [ "format" ],
      "properties" : {
        "format" : {
          "type" : "string",
          "example" : "CSV",
          "description" : "The file format in which to return the export.",
          "enum" : [ "CSV" ]
        }
      }
    },
    "CreateOfferRequest" : {
      "type" : "object",
      "required" : [ "condition", "ean", "fulfilment", "pricing", "stock" ],
      "properties" : {
        "ean" : {
          "type" : "string",
          "example" : "0000007740404",
          "description" : "The EAN number associated with this product. Note: in case an ISBN is provided, the ISBN will be replaced with the actual EAN belonging to this ISBN."
        },
        "condition" : {
          "$ref" : "#/definitions/Condition"
        },
        "reference" : {
          "type" : "string",
          "example" : "REF12345",
          "description" : "A user-defined reference that helps you identify this particular offer when receiving data from us. This element can optionally be left empty and has a maximum amount of 20 characters.",
          "minLength" : 0,
          "maxLength" : 20
        },
        "onHoldByRetailer" : {
          "type" : "boolean",
          "example" : false,
          "description" : "Indicates whether or not you want to put this offer for sale on the bol.com website. Defaults to false."
        },
        "unknownProductTitle" : {
          "type" : "string",
          "example" : "Unknown Product Title",
          "description" : "In case the item is not known to bol.com you can use this field to identify this particular product. Note: in case the product is known to bol.com, the unknown product title will not be stored.",
          "minLength" : 0,
          "maxLength" : 500
        },
        "pricing" : {
          "$ref" : "#/definitions/Pricing"
        },
        "stock" : {
          "$ref" : "#/definitions/StockCreate"
        },
        "fulfilment" : {
          "$ref" : "#/definitions/Fulfilment"
        }
      }
    },
    "CreateProductContentRequest" : {
      "type" : "object",
      "required" : [ "language", "productContents" ],
      "properties" : {
        "language" : {
          "type" : "string",
          "example" : "nl",
          "description" : "The language to indicate the language of the supplied content.",
          "enum" : [ "nl", "nl-BE", "fr", "fr-BE" ]
        },
        "productContents" : {
          "type" : "array",
          "description" : "A list of supplied products and their attributes. Attributes that are required for publishing products online will be mentioned in the data model.",
          "items" : {
            "$ref" : "#/definitions/ProductContent"
          },
          "maxItems" : 100,
          "minItems" : 1
        }
      }
    },
    "CreateReturnRequest" : {
      "type" : "object",
      "required" : [ "handlingResult", "orderItemId", "quantityReturned" ],
      "properties" : {
        "orderItemId" : {
          "type" : "string",
          "example" : "2012345678",
          "description" : "The id for the order item (1 order can have multiple order items)."
        },
        "quantityReturned" : {
          "type" : "integer",
          "format" : "int32",
          "example" : 1,
          "description" : "The quantity of items returned.",
          "minimum" : 1,
          "maximum" : 9999
        },
        "handlingResult" : {
          "type" : "string",
          "example" : "RETURN_RECEIVED",
          "description" : "The handling result requested by the retailer.",
          "enum" : [ "RETURN_RECEIVED", "EXCHANGE_PRODUCT", "RETURN_DOES_NOT_MEET_CONDITIONS", "REPAIR_PRODUCT", "CUSTOMER_KEEPS_PRODUCT_PAID" ]
        }
      }
    },
    "CreateSubscriptionRequest" : {
      "type" : "object",
      "required" : [ "resources", "url" ],
      "properties" : {
        "resources" : {
          "type" : "array",
          "example" : "['PROCESS_STATUS']",
          "description" : "Type of event",
          "items" : {
            "type" : "string",
            "enum" : [ "PROCESS_STATUS" ]
          }
        },
        "url" : {
          "type" : "string",
          "example" : "https://www.bol.com/webhook",
          "description" : "URL to receive this WebHook notification",
          "minLength" : 0,
          "maxLength" : 255,
          "pattern" : "^https.*"
        }
      }
    },
    "CreateUnpublishedOfferReportRequest" : {
      "type" : "object",
      "required" : [ "format" ],
      "properties" : {
        "format" : {
          "type" : "string",
          "example" : "CSV",
          "description" : "The file format in which to return the export.",
          "enum" : [ "CSV" ]
        }
      }
    },
    "CustomerDetails" : {
      "type" : "object",
      "properties" : {
        "salutationCode" : {
          "type" : "string",
          "example" : "MALE",
          "description" : "The salutation of the customer."
        },
        "firstName" : {
          "type" : "string",
          "example" : "Billie",
          "description" : "The first name of the customer."
        },
        "surname" : {
          "type" : "string",
          "example" : "Jansen",
          "description" : "The surname of the customer."
        },
        "streetName" : {
          "type" : "string",
          "example" : "Dorpstraat",
          "description" : "The street name."
        },
        "houseNumber" : {
          "type" : "string",
          "example" : "1",
          "description" : "The house number."
        },
        "houseNumberExtended" : {
          "type" : "string",
          "example" : "B",
          "description" : "The extension on the house number."
        },
        "addressSupplement" : {
          "type" : "string"
        },
        "extraAddressInformation" : {
          "type" : "string",
          "example" : "Apartment",
          "description" : "Additional information related to the address that helps in delivering the package."
        },
        "zipCode" : {
          "type" : "string",
          "example" : "1111ZZ",
          "description" : "The ZIP code in '1234AB' format for NL orders and '0000' format for BE orders."
        },
        "city" : {
          "type" : "string",
          "example" : "Utrecht",
          "description" : "The name of the city."
        },
        "countryCode" : {
          "type" : "string",
          "example" : "NL",
          "description" : "The country code."
        },
        "email" : {
          "type" : "string",
          "example" : "billie@verkopen.bol.com",
          "description" : "A scrambled email address that can be used to contact the customer."
        },
        "deliveryPhoneNumber" : {
          "type" : "string",
          "example" : "012123456",
          "description" : "The delivery phone number of the customer. Filled in case the order requires an appointment for delivering the goods."
        },
        "company" : {
          "type" : "string",
          "example" : "bol.com",
          "description" : "The company name."
        },
        "vatNumber" : {
          "type" : "string",
          "example" : "NL999999999B99",
          "description" : "The Value Added Tax (VAT) / BTW number for business sellers situated in the Netherlands."
        }
      }
    },
    "Delivery windows for inbound shipments." : {
      "type" : "object",
      "properties" : {
        "timeSlots" : {
          "type" : "array",
          "description" : "An available timeslot to be reserved for inbound shipments.",
          "items" : {
            "$ref" : "#/definitions/TimeSlot"
          }
        }
      }
    },
    "DeliveryOption" : {
      "type" : "object",
      "required" : [ "labelPrice", "packageRestrictions" ],
      "properties" : {
        "shippingLabelOfferId" : {
          "type" : "string",
          "example" : "027b79fa-5743-40f0-94c7-0eac761af611",
          "description" : "Unique identifier for the shipping label offer."
        },
        "validUntilDate" : {
          "type" : "string",
          "format" : "date",
          "example" : "2020-01-12",
          "description" : "The date until the delivery option (incl total price) is valid."
        },
        "transporterCode" : {
          "type" : "string",
          "example" : "TNT_BRIEF",
          "description" : "A code representing the transporter which is being used for transportation."
        },
        "labelType" : {
          "type" : "string",
          "example" : "MAILBOX_LIGHT",
          "description" : "The type of the label, representing the way an item is being transported.",
          "enum" : [ "PARCEL", "MAILBOX", "MAILBOX_LIGHT" ]
        },
        "labelPrice" : {
[...]
