{
    "swagger" : "2.0",
    "host": "api.bol.com",
    "schemes": ["https"],
    "info" : {
        "description" : "The bol.com API for Retailers.",
        "version" : "5.0",
        "title" : "v5"
    },
    "tags" : [ {
        "name" : "Commissions"
    }, {
        "name" : "Insights"
    }, {
        "name" : "Inventory"
    }, {
        "name" : "Invoices"
    }, {
        "name" : "Offers"
    }, {
        "name" : "Orders"
    }, {
        "name" : "Process status"
    }, {
        "name" : "Product Content"
    }, {
        "name" : "Replenishments"
    }, {
        "name" : "Returns"
    }, {
        "name" : "Shipments"
    }, {
        "name" : "Shipping Labels"
    }, {
        "name" : "Transports"
    } ],
    "paths" : {
        "/retailer/commission" : {
            "post" : {
                "tags" : [ "Commissions" ],
                "summary" : "Get all commissions and reductions by EAN in bulk",
                "description" : "Gets all commissions and possible reductions by EAN, price, and optionally condition.",
                "operationId" : "get-commissions",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/BulkCommissionRequest"
                    }
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/BulkCommissionResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/commission/{ean}" : {
            "get" : {
                "tags" : [ "Commissions" ],
                "summary" : "Get all commissions and reductions by EAN per single EAN",
                "description" : "Commissions can be filtered by condition, which defaults to NEW. We will calculate the commission amount from the EAN and price.",
                "operationId" : "get-commission",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "ean",
                    "in" : "path",
                    "description" : "The EAN number associated with this product.",
                    "required" : true,
                    "type" : "string",
                    "x-example" : "0000007740404"
                }, {
                    "name" : "condition",
                    "in" : "query",
                    "description" : "The condition of the offer.",
                    "required" : false,
                    "type" : "string",
                    "default" : "NEW",
                    "enum" : [ "NEW", "AS_NEW", "GOOD", "REASONABLE", "MODERATE" ]
                }, {
                    "name" : "unit-price",
                    "in" : "query",
                    "description" : "The price of the product with a period as a decimal separator. The price should always have two decimals precision.",
                    "required" : true,
                    "type" : "number",
                    "x-example" : 59.0
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/Commission"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/content/product" : {
            "post" : {
                "tags" : [ "Product Content" ],
                "summary" : "Post product content",
                "description" : "Create content for existing products or new products.",
                "operationId" : "post-product-content",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/CreateProductContentRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/content/validation-report/{uploadId}" : {
            "get" : {
                "tags" : [ "Product Content" ],
                "summary" : "Get validation report",
                "description" : "Retrieve a validation report of the product content upload based on the upload id.",
                "operationId" : "get-validation-report",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "uploadId",
                    "in" : "path",
                    "description" : "The identifier of the product content upload.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ValidationReportResponse"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/insights/offer" : {
            "get" : {
                "tags" : [ "Insights" ],
                "summary" : "Get offer insights",
                "description" : "Get the product visits and the buy box percentage for an offer during a given period.",
                "operationId" : "get-offer-insights",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "offer-id",
                    "in" : "query",
                    "description" : "Unique identifier for an offer.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "name" : "period",
                    "in" : "query",
                    "description" : "The time unit in which the offer insights are grouped.",
                    "required" : true,
                    "type" : "string",
                    "enum" : [ "DAY", "WEEK", "MONTH" ]
                }, {
                    "name" : "number-of-periods",
                    "in" : "query",
                    "description" : "The number of periods for which the offer insights are requested back in time.",
                    "required" : true,
                    "type" : "integer",
                    "format" : "int32"
                }, {
                    "name" : "name",
                    "in" : "query",
                    "description" : "The name of the requested offer insight.",
                    "required" : true,
                    "type" : "array",
                    "items" : {
                        "type" : "string",
                        "enum" : [ "PRODUCT_VISITS", "BUY_BOX_PERCENTAGE" ]
                    },
                    "collectionFormat" : "multi"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/OfferInsights"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/insights/performance/indicator" : {
            "get" : {
                "tags" : [ "Insights" ],
                "summary" : "Get performance indicators",
                "description" : "Gets the measurements for your performance indicators per week.",
                "operationId" : "get-performance-indicator",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "name",
                    "in" : "query",
                    "description" : "The type of the performance indicator",
                    "required" : true,
                    "type" : "array",
                    "items" : {
                        "type" : "string",
                        "enum" : [ "CANCELLATIONS", "FULFILMENT", "PHONE_AVAILABILITY", "RESPONSE_TIME", "CASE_ITEM_RATIO", "TRACK_AND_TRACE", "RETURNS", "REVIEWS" ]
                    },
                    "collectionFormat" : "multi"
                }, {
                    "name" : "year",
                    "in" : "query",
                    "description" : "Year number in the ISO-8601 standard.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "name" : "week",
                    "in" : "query",
                    "description" : "Week number in the ISO-8601 standard. If you would like to get the relative scores from the current week, please provide the current week number here. Be advised that measurements can change heavily over the course of the week.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/PerformanceIndicators"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/insights/sales-forecast" : {
            "get" : {
                "tags" : [ "Insights" ],
                "summary" : "Get sales forecast",
                "description" : "Get sales forecast to estimate the sales expectations on the total bol.com platform for the requested number of weeks ahead.",
                "operationId" : "get-sales-forecast",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "offer-id",
                    "in" : "query",
                    "description" : "Unique identifier for an offer.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "name" : "weeks-ahead",
                    "in" : "query",
                    "description" : "The number of weeks into the future, starting from today.",
                    "required" : true,
                    "type" : "integer",
                    "format" : "int32"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/SalesForecastResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/insights/search-terms" : {
            "get" : {
                "tags" : [ "Insights" ],
                "summary" : "Get search terms",
                "description" : "Retrieves the search volume for a specified search term and period. The search volume allows you to see what bol.com customers are searching for. Based on the search volume per search term you can optimize your product content, or spot opportunities to extend your assortment, or analyzing trends for inventory management.",
                "operationId" : "get-search-terms",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "search-term",
                    "in" : "query",
                    "description" : "The search term for which you want to request the search volume.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "name" : "period",
                    "in" : "query",
                    "description" : "The time unit in which the offer insights are grouped.",
                    "required" : true,
                    "type" : "string",
                    "enum" : [ "DAY", "WEEK", "MONTH" ]
                }, {
                    "name" : "number-of-periods",
                    "in" : "query",
                    "description" : "The number of periods for which the offer insights are requested back in time.",
                    "required" : true,
                    "type" : "integer",
                    "format" : "int32"
                }, {
                    "name" : "related-search-terms",
                    "in" : "query",
                    "description" : "Indicates whether or not you want to retrieve the related search terms.",
                    "required" : false,
                    "type" : "boolean",
                    "default" : false
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/SearchTerms"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/inventory" : {
            "get" : {
                "tags" : [ "Inventory" ],
                "summary" : "Get LVB/FBB inventory",
                "description" : "The inventory endpoint is a specific LVB/FBB endpoint. It provides a paginated list containing your fulfilment by bol.com inventory. This endpoint does not provide information about your own stock.",
                "operationId" : "get-inventory",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "page",
                    "in" : "query",
                    "description" : "The requested page number with a page size of 50 items.",
                    "required" : false,
                    "type" : "integer",
                    "default" : 1,
                    "minimum" : 1,
                    "format" : "int32",
                    "x-example" : 1
                }, {
                    "name" : "quantity",
                    "in" : "query",
                    "description" : "Filter inventory by providing a range of quantity (min-range)-(max-range). Note that if no state query is submitted in the same request, then the quantity will be filtered on regularStock by default.",
                    "required" : false,
                    "type" : "array",
                    "items" : {
                        "type" : "string"
                    },
                    "collectionFormat" : "multi",
                    "x-example" : "0-10,20-30"
                }, {
                    "name" : "stock",
                    "in" : "query",
                    "description" : "Filter inventory by stock level.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "SUFFICIENT",
                    "enum" : [ "SUFFICIENT", "INSUFFICIENT" ]
                }, {
                    "name" : "state",
                    "in" : "query",
                    "description" : "Filter inventory by stock type.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "REGULAR",
                    "enum" : [ "REGULAR", "GRADED" ]
                }, {
                    "name" : "query",
                    "in" : "query",
                    "description" : "Filter inventory by EAN or product title.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "0000007740404"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/InventoryResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/invoices" : {
            "get" : {
                "tags" : [ "Invoices" ],
                "summary" : "Get all invoices",
                "description" : "Gets a list of invoices, by default from the past 4 weeks. The optional period-start-date and period-end-date-date parameters can be used together to retrieve invoices from a specific date range in the past, the period can be no longer than 31 days. Invoices and their specifications can be downloaded separately in different media formats with the ‘GET an invoice by id’ and the ‘GET an invoice specification by id’ calls. The available media types differ per invoice and are listed per invoice within the response. Note: the media types listed in the response must be given in our standard API format.",
                "operationId" : "get-invoices",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "period-start-date",
                    "in" : "query",
                    "description" : "Period start date in ISO 8601 standard.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "2019-03-01"
                }, {
                    "name" : "period-end-date",
                    "in" : "query",
                    "description" : "Period end date in ISO 8601 standard.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "2019-03-31"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "type" : "array",
                            "items" : {
                                "type" : "string",
                                "format" : "byte"
                            }
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/invoices/{invoice-id}" : {
            "get" : {
                "tags" : [ "Invoices" ],
                "summary" : "Get an invoice by invoice id",
                "description" : "Gets an invoice by invoice id. The available media types differ per invoice and are listed within the response from the ‘GET all invoices’ call. Note: the media types listed in the response must be given in our standard API format.",
                "operationId" : "get-invoice",
                "produces" : [ "application/vnd.retailer.v5+json", "application/vnd.retailer.v5+pdf" ],
                "parameters" : [ {
                    "name" : "invoice-id",
                    "in" : "path",
                    "description" : "The id of the invoice",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "type" : "array",
                            "items" : {
                                "type" : "string",
                                "format" : "byte"
                            }
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/invoices/{invoice-id}/specification" : {
            "get" : {
                "tags" : [ "Invoices" ],
                "summary" : "Get an invoice specification by invoice id",
                "description" : "Gets an invoice specification for an invoice with a paginated list of its transactions. The available media types differ per invoice specification and are listed within the response from the ‘GET all invoices’ call. Note, the media types listed in the response must be given in our standard API format.",
                "operationId" : "get-invoice-specification",
                "produces" : [ "application/vnd.retailer.v5+json", "application/vnd.retailer.v5+pdf", "application/vnd.retailer.v5+openxmlformats-officedocument.spreadsheetml.sheet" ],
                "parameters" : [ {
                    "name" : "invoice-id",
                    "in" : "path",
                    "description" : "The id of the invoice.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "name" : "page",
                    "in" : "query",
                    "description" : "The page to get, defaults to page 1. Each page contains a maximum of 25,000 lines.",
                    "required" : false,
                    "type" : "integer",
                    "minimum" : 1,
                    "format" : "int32"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "type" : "array",
                            "items" : {
                                "type" : "string",
                                "format" : "byte"
                            }
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/offers" : {
            "post" : {
                "tags" : [ "Offers" ],
                "summary" : "Create a new offer",
                "description" : "Creates a new offer, and adds it to the catalog. After creation, status information can be retrieved to review if the offer is valid and published to the shop.",
                "operationId" : "post-offer",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/CreateOfferRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/offers/export" : {
            "post" : {
                "tags" : [ "Offers" ],
                "summary" : "Request an offer export file",
                "description" : "Request an offer export file containing all offers.",
                "operationId" : "post-offer-export",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/CreateOfferExportRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/offers/export/{report-id}" : {
            "get" : {
                "tags" : [ "Offers" ],
                "summary" : "Retrieve an offer export file by offer export id",
                "description" : "Retrieve an offer export file containing all offers.",
                "operationId" : "get-offer-export",
                "produces" : [ "application/vnd.retailer.v5+csv" ],
                "parameters" : [ {
                    "name" : "report-id",
                    "in" : "path",
                    "description" : "Unique identifier for an offer export report.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request."
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/offers/{offer-id}" : {
            "get" : {
                "tags" : [ "Offers" ],
                "summary" : "Retrieve an offer by its offer id",
                "description" : "Retrieve an offer by using the offer id provided to you when creating or listing your offers.",
                "operationId" : "get-offer",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "offer-id",
                    "in" : "path",
                    "description" : "Unique identifier for an offer.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/RetailerOffer"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            },
            "put" : {
                "tags" : [ "Offers" ],
                "summary" : "Update an offer",
                "description" : "Use this endpoint to send an offer update. This endpoint returns a process status.",
                "operationId" : "put-offer",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "offer-id",
                    "in" : "path",
                    "description" : "Unique identifier for an offer.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/UpdateOfferRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            },
            "delete" : {
                "tags" : [ "Offers" ],
                "summary" : "Delete offer by id",
                "description" : "Delete an offer by id.",
                "operationId" : "delete-offer",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "offer-id",
                    "in" : "path",
                    "description" : "Unique identifier for an offer.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/offers/{offer-id}/price" : {
            "put" : {
                "tags" : [ "Offers" ],
                "summary" : "Update price(s) for offer by id",
                "description" : "Update price(s) for offer by id.",
                "operationId" : "update-offer-price",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "offer-id",
                    "in" : "path",
                    "description" : "Unique identifier for an offer.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/UpdateOfferPriceRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/offers/{offer-id}/stock" : {
            "put" : {
                "tags" : [ "Offers" ],
                "summary" : "Update stock for offer by id",
                "description" : "Update stock for offer by id.",
                "operationId" : "update-offer-stock",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "offer-id",
                    "in" : "path",
                    "description" : "Unique identifier for an offer.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/UpdateOfferStockRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/orders" : {
            "get" : {
                "tags" : [ "Orders" ],
                "summary" : "Get orders",
                "description" : "Gets a paginated list of all orders sorted by date in descending order. To create a pick list you can set state to open.",
                "operationId" : "get-orders",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "page",
                    "in" : "query",
                    "description" : "The requested page number with a page size of 50 items.",
                    "required" : false,
                    "type" : "integer",
                    "default" : 1,
                    "minimum" : 1,
                    "format" : "int32"
                }, {
                    "name" : "fulfilment-method",
                    "in" : "query",
                    "description" : "The fulfilment method. Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB).",
                    "required" : false,
                    "type" : "string",
                    "default" : "FBR",
                    "enum" : [ "FBR", "FBB" ]
                }, {
                    "name" : "status",
                    "in" : "query",
                    "description" : "Determines whether you want to retrieve orders including or excluding shipped and/or cancelled items.",
                    "required" : false,
                    "type" : "string",
                    "default" : "OPEN",
                    "enum" : [ "OPEN", "ALL" ]
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ReducedOrders"
                        }
                    }
                }
            }
        },
        "/retailer/orders/cancellation" : {
            "put" : {
                "tags" : [ "Orders" ],
                "summary" : "Cancel an order item by an order item id",
                "description" : "This endpoint can be used to either confirm a cancellation request by the customer or to cancel an order item you yourself are unable to fulfil.",
                "operationId" : "cancel-order-item",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/Container for the order items that have to be cancelled."
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/orders/shipment" : {
            "put" : {
                "tags" : [ "Orders" ],
                "summary" : "Ship order item",
                "description" : "Ship a single order item within a customer order by providing shipping information. If you purchased a shipping label you should add the shippingLabelId to this message and leave the transport element empty. If you will ship the item(s) using your own transporter method you must omit the shippingLabelId entirely and fill in the transport element with the fields from GET shipping labels.",
                "operationId" : "ship-order-item",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/ShipmentRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/orders/{order-id}" : {
            "get" : {
                "tags" : [ "Orders" ],
                "summary" : "Get order",
                "description" : "Gets an order by order id. The order can be partially shipped or cancelled, and the message contains the quantity shipped or cancelled items. The unitPrice takes account of volume discounts.",
                "operationId" : "get-order",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "order-id",
                    "in" : "path",
                    "description" : "The id of the order to get.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/Order"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/process-status" : {
            "get" : {
                "tags" : [ "Process status" ],
                "summary" : "Gets the status of an asynchronous process by entity id and event type for a retailer",
                "description" : "Retrieve a list of process statuses, which shows information regarding previously executed PUT/POST/DELETE requests in descending order. You need to supply an entity id and event type.Please note: process status instances are only retained for a limited period of time after completion. Outside of this period, deleted process statuses will no longer be returned. Please handle this accordingly, by stopping any active polling for these statuses.",
                "operationId" : "get-process-status-entity-id",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "entity-id",
                    "in" : "query",
                    "description" : "The entity id is not unique so you need to provide an event type. The entity id can either be order item id, transport id, return number or inbound reference.",
                    "required" : true,
                    "type" : "string",
                    "x-example" : "987654321"
                }, {
                    "name" : "event-type",
                    "in" : "query",
                    "description" : "The event type can only be used in combination with the entity id.",
                    "required" : true,
                    "type" : "string",
                    "x-example" : "CONFIRM_SHIPMENT",
                    "enum" : [ "CONFIRM_SHIPMENT", "CANCEL_ORDER", "CHANGE_TRANSPORT", "HANDLE_RETURN_ITEM", "CREATE_RETURN_ITEM", "CREATE_INBOUND", "DELETE_OFFER", "CREATE_OFFER", "UPDATE_OFFER", "UPDATE_OFFER_STOCK", "UPDATE_OFFER_PRICE", "CREATE_OFFER_EXPORT", "UNPUBLISHED_OFFER_REPORT", "CREATE_PRODUCT_CONTENT", "CREATE_SUBSCRIPTION", "UPDATE_SUBSCRIPTION", "DELETE_SUBSCRIPTION", "SEND_SUBSCRIPTION_TST_MSG", "CREATE_SHIPPING_LABEL" ]
                }, {
                    "name" : "page",
                    "in" : "query",
                    "description" : "The requested page number with a page size of 50 items.",
                    "required" : false,
                    "type" : "integer",
                    "default" : 1,
                    "minimum" : 1,
                    "format" : "int32"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatusResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            },
            "post" : {
                "tags" : [ "Process status" ],
                "summary" : "Gets the status of multiple asynchronous processes by an array of process status ids for a retailer",
                "description" : "Retrieve a list of process statuses, which shows information regarding previously executed PUT/POST/DELETE requests. No more than 1000 process status id's can be sent in a single request.Please note: process status instances are only retained for a limited period of time after completion. Outside of this period, deleted process statuses will no longer be returned. Please handle this accordingly, by stopping any active polling for these statuses.",
                "operationId" : "get-process-status-bulk",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/BulkProcessStatusRequest"
                    }
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatusResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/process-status/{process-status-id}" : {
            "get" : {
                "tags" : [ "Process status" ],
                "summary" : "Get the status of an asynchronous process by process status id",
                "description" : "Retrieve a specific process-status, which shows information regarding a previously executed PUT/POST/DELETE request. All PUT/POST/DELETE requests on the other endpoints will supply a process-status-id in the related response. You can use this id to retrieve a status by using the endpoint below. Please note: process status instances are only retained for a limited period of time after completion. Outside of this period, a 404 will be returned for missing process statuses. Please handle this accordingly, by stopping any active polling for these statuses.",
                "operationId" : "get-process-status",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "process-status-id",
                    "in" : "path",
                    "description" : "The id of the process status being requested. This id is supplied in every response to a PUT/POST/DELETE request on the other endpoints.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/replenishments" : {
            "get" : {
                "tags" : [ "Replenishments" ],
                "summary" : "Get replenishments",
                "description" : "Gets a list of replenishments.",
                "operationId" : "get-replenishments",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "reference",
                    "in" : "query",
                    "description" : "Custom user defined reference to identify the replenishment.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "REFERENCE1"
                }, {
                    "name" : "ean",
                    "in" : "query",
                    "description" : "The EAN number associated with this product.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "0000007740404"
                }, {
                    "name" : "start-date",
                    "in" : "query",
                    "description" : "The creation start date to find the replenishment. In ISO 8601 format.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "2021-01-01"
                }, {
                    "name" : "end-date",
                    "in" : "query",
                    "description" : "The end date of the range to find the replenishment. In ISO 8601 format.",
                    "required" : false,
                    "type" : "string",
                    "x-example" : "2021-01-02"
                }, {
                    "name" : "state",
                    "in" : "query",
                    "description" : "The current state(s) of the replenishment.",
                    "required" : false,
                    "type" : "array",
                    "items" : {
                        "type" : "string"
                    },
                    "collectionFormat" : "multi",
                    "x-example" : "ANNOUNCED"
                }, {
                    "name" : "page",
                    "in" : "query",
                    "description" : "The requested page number with a page size of 50 items.",
                    "required" : false,
                    "type" : "integer",
                    "default" : 1,
                    "minimum" : 1,
                    "format" : "int32",
                    "x-example" : 1
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ReplenishmentsResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            },
            "post" : {
                "tags" : [ "Replenishments" ],
                "summary" : "Post replenishment",
                "description" : "Create a replenishment.",
                "operationId" : "post-replenishment",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/CreateReplenishmentRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/replenishments/pickup-time-slots" : {
            "post" : {
                "tags" : [ "Replenishments" ],
                "summary" : "Post pickup time slots",
                "description" : "Retrieve pickup time slots.",
                "operationId" : "post-pickup-time-slots",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/PickupTimeSlotsRequest"
                    }
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/PickupTimeSlotsResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/replenishments/product-labels" : {
            "post" : {
                "tags" : [ "Replenishments" ],
                "summary" : "Post product labels",
                "description" : "Retrieve product labels.",
                "operationId" : "post-product-labels",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+pdf" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/ProductLabelsRequest"
                    }
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "type" : "array",
                            "items" : {
                                "type" : "string",
                                "format" : "byte"
                            }
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/replenishments/{replenishment-id}" : {
            "get" : {
                "tags" : [ "Replenishments" ],
                "summary" : "Get a replenishment by replenishment id",
                "description" : "Gets a replenishment by replenishment id.",
                "operationId" : "get-replenishment",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "replenishment-id",
                    "in" : "path",
                    "description" : "The unique identifier of the replenishment.",
                    "required" : true,
                    "type" : "string",
                    "x-example" : "2312078154"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ReplenishmentResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            },
            "put" : {
                "tags" : [ "Replenishments" ],
                "summary" : "Update replenishment ",
                "description" : "Update a replenishment.",
                "operationId" : "put-replenishment",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "replenishment-id",
                    "in" : "path",
                    "description" : "The unique identifier of the replenishment.",
                    "required" : true,
                    "type" : "string",
                    "x-example" : "2312078154"
                }, {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/UpdateReplenishmentRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/replenishments/{replenishment-id}/load-carrier-labels" : {
            "get" : {
                "tags" : [ "Replenishments" ],
                "summary" : "Get load carrier labels",
                "description" : "Retrieve the load carrier labels.",
                "operationId" : "get-load-carrier-labels",
                "produces" : [ "application/vnd.retailer.v5+pdf" ],
                "parameters" : [ {
                    "name" : "replenishment-id",
                    "in" : "path",
                    "description" : "The unique identifier of the replenishment.",
                    "required" : true,
                    "type" : "string",
                    "x-example" : "2312078154"
                }, {
                    "name" : "label-type",
                    "in" : "query",
                    "description" : "The type of label which you want to print.",
                    "required" : true,
                    "type" : "string",
                    "default" : "WAREHOUSE",
                    "x-example" : "WAREHOUSE",
                    "enum" : [ "WAREHOUSE", "TRANSPORT" ]
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "type" : "array",
                            "items" : {
                                "type" : "string",
                                "format" : "byte"
                            }
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/replenishments/{replenishment-id}/pick-list" : {
            "get" : {
                "tags" : [ "Replenishments" ],
                "summary" : "Get pick list",
                "description" : "Retrieve the pick list.",
                "operationId" : "get-pick-list",
                "produces" : [ "application/vnd.retailer.v5+pdf" ],
                "parameters" : [ {
                    "name" : "replenishment-id",
                    "in" : "path",
                    "description" : "The unique identifier of the replenishment.",
                    "required" : true,
                    "type" : "string",
                    "x-example" : "2312078154"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "type" : "array",
                            "items" : {
                                "type" : "string",
                                "format" : "byte"
                            }
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/returns" : {
            "get" : {
                "tags" : [ "Returns" ],
                "summary" : "Get returns",
                "description" : "Get a paginated list of multi-item returns. Handled returns are sorted by date in descending order, while unhandled returns are sorted by date in ascending order.",
                "operationId" : "get-returns",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "page",
                    "in" : "query",
                    "description" : "The page to get with a page size of 50.",
                    "required" : false,
                    "type" : "integer",
                    "default" : 1,
                    "minimum" : 1,
                    "format" : "int32"
                }, {
                    "name" : "handled",
                    "in" : "query",
                    "description" : "The status of the returns you wish to see, shows either handled or unhandled returns.",
                    "required" : false,
                    "type" : "boolean"
                }, {
                    "name" : "fulfilment-method",
                    "in" : "query",
                    "description" : "The fulfilment method. Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB).",
                    "required" : false,
                    "type" : "string",
                    "default" : "FBR",
                    "enum" : [ "FBR", "FBB" ]
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ReturnsResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            },
            "post" : {
                "tags" : [ "Returns" ],
                "summary" : "Create return",
                "description" : "Create a return, and automatically handle it with the provided handling result. When successfully created, the resulting return id is provided in the process status.",
                "operationId" : "create-return",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/CreateReturnRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/returns/{return-id}" : {
            "get" : {
                "tags" : [ "Returns" ],
                "summary" : "Get a return by return id",
                "description" : "Retrieve a return based on the return id.",
                "operationId" : "get-return",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "return-id",
                    "in" : "path",
                    "description" : "Unique identifier for a return.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/Return"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/returns/{rma-id}" : {
            "put" : {
                "tags" : [ "Returns" ],
                "summary" : "Handle a return",
                "description" : "Allows the user to handle a return. This can be to either handle an open return, or change the handlingResult of an already handled return. The latter is only possible in limited scenarios, please check the returns documentation for a complete list.",
                "operationId" : "handle-return",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "rma-id",
                    "in" : "path",
                    "description" : "The RMA (Return Merchandise Authorization) id that identifies this particular return.",
                    "required" : true,
                    "type" : "integer",
                    "format" : "int64"
                }, {
                    "in" : "body",
                    "name" : "body",
                    "description" : "The handling result requested by the retailer.",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/ReturnRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/shipments" : {
            "get" : {
                "tags" : [ "Shipments" ],
                "summary" : "Get shipment list",
                "description" : "A paginated list to retrieve all your shipments up to 3 months old. The shipments will be sorted by date in descending order.",
                "operationId" : "get-shipments",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "page",
                    "in" : "query",
                    "description" : "The page to get with a page size of 50.",
                    "required" : false,
                    "type" : "integer",
                    "default" : 1,
                    "format" : "int32"
                }, {
                    "name" : "fulfilment-method",
                    "in" : "query",
                    "description" : "The fulfilment method. Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB).",
                    "required" : false,
                    "type" : "string",
                    "default" : "FBR",
                    "enum" : [ "FBR", "FBB" ]
                }, {
                    "name" : "order-id",
                    "in" : "query",
                    "description" : "The id of the order. Only valid without fulfilment-method. The default fulfilment-method is ignored.",
                    "required" : false,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/ShipmentsResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/shipments/{shipment-id}" : {
            "get" : {
                "tags" : [ "Shipments" ],
                "summary" : "Get a shipment by shipment id",
                "description" : "Retrieve a single shipment by its corresponding id.",
                "operationId" : "get-shipment",
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "shipment-id",
                    "in" : "path",
                    "description" : "The id of the shipment.",
                    "required" : true,
                    "type" : "string"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/Shipment"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/shipping-labels" : {
            "post" : {
                "tags" : [ "Shipping Labels" ],
                "summary" : "Create a shipping label",
                "description" : "Create a shipping label with a shipping label offer id retrieved from get delivery options.",
                "operationId" : "post-shipping-label",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/ShippingLabelRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/shipping-labels/delivery-options" : {
            "post" : {
                "tags" : [ "Shipping Labels" ],
                "summary" : "Get delivery options for a shippable configuration of a number of order items within an order.",
                "description" : "Retrieves all available delivery options based on the supplied configuration of order items that has to be shipped.",
                "operationId" : "get-delivery-options",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "in" : "body",
                    "name" : "body",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/DeliveryOptionsRequest"
                    }
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "schema" : {
                            "$ref" : "#/definitions/DeliveryOptionsResponse"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/shipping-labels/{shipping-label-id}" : {
            "get" : {
                "tags" : [ "Shipping Labels" ],
                "summary" : "Get a shipping label",
                "description" : "Retrieves a shipping label by shipping label id. Metadata for the shipping label is added as headers in the response. If you are only interested in the metadata, you can do a HEAD request to retrieve only the headers without the label data.",
                "operationId" : "get-shipping-label",
                "produces" : [ "application/vnd.retailer.v5+pdf" ],
                "parameters" : [ {
                    "name" : "shipping-label-id",
                    "in" : "path",
                    "description" : "The shipping label id.",
                    "required" : true,
                    "type" : "string",
                    "x-example" : "6ff736b5-cdd0-4150-8c67-78269ee986f5"
                } ],
                "responses" : {
                    "200" : {
                        "description" : "Ok: Successfully processed the request.",
                        "headers" : {
                            "X-Track-And-Trace-Code" : {
                                "type" : "string",
                                "description" : "Track and trace code for the retrieved label."
                            },
                            "X-Transporter-Code" : {
                                "type" : "string",
                                "description" : "Transporter code for the retrieved label."
                            }
                        },
                        "schema" : {
                            "type" : "array",
                            "items" : {
                                "type" : "string",
                                "format" : "byte"
                            }
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    },
                    "404" : {
                        "description" : "Not found: The requested item could not be found.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        },
        "/retailer/transports/{transport-id}" : {
            "put" : {
                "tags" : [ "Transports" ],
                "summary" : "Add transport information by transport id",
                "description" : "Add information to an existing transport. The transport id is part of the shipment. You can retrieve the transport id through the GET shipment list request.",
                "operationId" : "add-transport-information-by-transport-id",
                "consumes" : [ "application/vnd.retailer.v5+json" ],
                "produces" : [ "application/vnd.retailer.v5+json" ],
                "parameters" : [ {
                    "name" : "transport-id",
                    "in" : "path",
                    "description" : "The transport id.",
                    "required" : true,
                    "type" : "string"
                }, {
                    "in" : "body",
                    "name" : "body",
                    "description" : "The change transport requested by the user.",
                    "required" : false,
                    "schema" : {
                        "$ref" : "#/definitions/ChangeTransportRequest"
                    }
                } ],
                "responses" : {
                    "202" : {
                        "description" : "Accepted: Successfully scheduled the request for processing.",
                        "schema" : {
                            "$ref" : "#/definitions/ProcessStatus"
                        }
                    },
                    "400" : {
                        "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "schema" : {
                            "$ref" : "#/definitions/Problem"
                        }
                    }
                }
            }
        }
    },
    "definitions" : {
        "AdditionalService" : {
            "type" : "object",
            "properties" : {
                "serviceType" : {
                    "type" : "string",
                    "example" : "PLACEMENT_AND_INSTALLATION",
                    "description" : "An additional service type that the customer selected when purchasing this order item."
                }
            }
        },
        "Address" : {
            "type" : "object",
            "required" : [ "city", "countryCode", "houseNumber", "houseNumberExtension", "streetName", "zipCode" ],
            "properties" : {
                "streetName" : {
                    "type" : "string",
                    "example" : "Dorpstraat",
                    "description" : "The street name of the pickup location."
                },
                "houseNumber" : {
                    "type" : "string",
                    "example" : "1",
                    "description" : "The house number of the pickup location."
                },
                "houseNumberExtension" : {
                    "type" : "string",
                    "example" : "B",
                    "description" : "The extension of the house number of the pickup location."
                },
                "zipCode" : {
                    "type" : "string",
                    "example" : "1111ZZ",
                    "description" : "The zip code in '1234AB' format for NL and '0000' for BE addresses."
                },
                "city" : {
                    "type" : "string",
                    "example" : "Utrecht",
                    "description" : "The city of the pickup address."
                },
                "countryCode" : {
                    "type" : "string",
                    "example" : "NL",
                    "description" : "The ISO 3166-2 country code."
                },
                "attentionOf" : {
                    "type" : "string",
                    "example" : "Jan Jansen",
                    "description" : "Name of the person responsible for this replenishment."
                }
            }
        },
        "Attribute" : {
            "type" : "object",
            "required" : [ "id", "values" ],
            "properties" : {
                "id" : {
                    "type" : "string",
                    "example" : "Width",
                    "description" : "Identifier of the attribute from the data model.",
                    "minLength" : 1,
                    "maxLength" : 100
                },
                "values" : {
                    "type" : "array",
                    "description" : "A list of attribute values.",
                    "items" : {
                        "$ref" : "#/definitions/AttributeValue"
                    }
                }
            }
        },
        "AttributeValue" : {
            "type" : "object",
            "required" : [ "value" ],
            "properties" : {
                "value" : {
                    "type" : "string",
                    "example" : "14.5",
                    "description" : "The value of the attribute.",
                    "minLength" : 1,
                    "maxLength" : 10000
                },
                "unitId" : {
                    "type" : "string",
                    "example" : "mm",
                    "description" : "The unit identifier of the attribute."
                }
            }
        },
        "BillingDetails" : {
            "type" : "object",
            "properties" : {
                "salutation" : {
                    "type" : "string",
                    "example" : "MALE",
                    "description" : "The salutation of the customer.",
                    "enum" : [ "MALE", "FEMALE", "UNKNOWN" ]
                },
                "firstName" : {
                    "type" : "string",
                    "example" : "Billie",
                    "description" : "The first name of the customer."
                },
                "surname" : {
                    "type" : "string",
                    "example" : "Jansen",
                    "description" : "The surname of the customer."
                },
                "streetName" : {
                    "type" : "string",
                    "example" : "Dorpstraat",
                    "description" : "The street name."
                },
                "houseNumber" : {
                    "type" : "string",
                    "example" : "1",
                    "description" : "The house number."
                },
                "houseNumberExtension" : {
                    "type" : "string",
                    "example" : "B",
                    "description" : "The extension on the house number."
                },
                "extraAddressInformation" : {
                    "type" : "string",
                    "example" : "Apartment",
                    "description" : "Additional information related to the address that helps in delivering the package."
                },
                "zipCode" : {
                    "type" : "string",
                    "example" : "1111ZZ",
                    "description" : "The ZIP code in '1234AB' format for NL orders and '0000' format for BE orders."
                },
                "city" : {
                    "type" : "string",
                    "example" : "Utrecht",
                    "description" : "The name of the city."
                },
                "countryCode" : {
                    "type" : "string",
                    "example" : "NL",
                    "description" : "The country code."
                },
                "email" : {
                    "type" : "string",
                    "example" : "billie@verkopen.bol.com",
                    "description" : "A scrambled email address that can be used to contact the customer."
                },
                "company" : {
                    "type" : "string",
                    "example" : "bol.com",
                    "description" : "The company name."
                },
                "vatNumber" : {
                    "type" : "string",
                    "example" : "NL999999999B99",
                    "description" : "The Value Added Tax (VAT) / BTW number for business sellers situated in the Netherlands."
                },
                "kvkNumber" : {
                    "type" : "string",
                    "example" : "99887766",
                    "description" : "The Kamer van Koophandel (kvk) number for organizations situated in the Netherlands or ondernemingsnummer for organizations situated in Belgium."
                },
                "orderReference" : {
                    "type" : "string",
                    "example" : "MijnReferentie",
                    "description" : "The order reference specified by the customer when ordering a product."
                }
            },
            "description" : "The details of the customer that is responsible for the financial fulfillment of this order."
        },
        "BulkCommissionQuery" : {
            "type" : "object",
            "required" : [ "ean", "unitPrice" ],
            "properties" : {
                "ean" : {
                    "type" : "string",
                    "example" : "0000007740404",
                    "description" : "The EAN number associated with this product."
                },
                "condition" : {
                    "type" : "string",
                    "example" : "NEW",
                    "description" : "The condition of the offer.",
                    "enum" : [ "NEW", "AS_NEW", "GOOD", "REASONABLE", "MODERATE" ]
                },
                "unitPrice" : {
                    "type" : "number",
                    "example" : 59.0,
                    "description" : "The price of the product with a period as a decimal separator. The price should always have two decimals precision.",
                    "minimum" : 0,
                    "maximum" : 9999
                }
            }
        },
        "BulkCommissionRequest" : {
            "type" : "object",
            "required" : [ "commissionQueries" ],
            "properties" : {
                "commissionQueries" : {
                    "type" : "array",
                    "items" : {
                        "$ref" : "#/definitions/BulkCommissionQuery"
                    },
                    "maxItems" : 100,
                    "minItems" : 1
                }
            }
        },
        "BulkCommissionResponse" : {
            "type" : "object",
            "required" : [ "commissions" ],
            "properties" : {
                "commissions" : {
                    "type" : "array",
                    "items" : {
                        "$ref" : "#/definitions/Commission"
                    }
                }
            }
        },
        "BulkProcessStatusRequest" : {
            "type" : "object",
            "required" : [ "processStatusQueries" ],
            "properties" : {
                "processStatusQueries" : {
                    "type" : "array",
                    "items" : {
                        "$ref" : "#/definitions/ProcessStatusId"
                    },
                    "maxItems" : 1000,
                    "minItems" : 1
                }
            }
        },
        "BundlePrice" : {
            "type" : "object",
            "required" : [ "quantity", "unitPrice" ],
            "properties" : {
                "quantity" : {
                    "type" : "integer",
                    "format" : "int32",
                    "example" : 1,
                    "description" : "The minimum quantity a customer must order in order to receive discount. The element with value 1 must at least be present. In case of using more elements, the respective quantities must be in increasing order.",
                    "minimum" : 1,
                    "maximum" : 24
                },
                "unitPrice" : {
                    "type" : "number",
                    "example" : 9.99,
                    "description" : "The price per single unit including VAT in case the customer orders at least the quantity provided. When using more than 1 price, the respective prices must be in decreasing order using 2 decimal precision and dot separated.",
                    "minimum" : 1,
                    "maximum" : 9999
                }
            }
        },
        "ChangeTransportRequest" : {
            "type" : "object",
            "properties" : {
                "transporterCode" : {
                    "type" : "string",
                    "example" : "TNT",
                    "enum" : [ "BRIEFPOST", "UPS", "TNT", "TNT-EXTRA", "TNT_BRIEF", "TNT-EXPRESS", "DYL", "DPD-NL", "DPD-BE", "BPOST_BE", "BPOST_BRIEF", "DHLFORYOU", "GLS", "FEDEX_NL", "FEDEX_BE", "OTHER", "DHL", "DHL_DE", "DHL-GLOBAL-MAIL", "TSN", "FIEGE", "TRANSMISSION", "PARCEL-NL", "LOGOIX", "PACKS", "COURIER", "RJP" ]
                },
                "trackAndTrace" : {
                    "type" : "string",
                    "example" : "3SBOL0987654321",
                    "description" : "The track and trace code that is associated with this transport."
                }
            }
        },
        "Commission" : {
            "type" : "object",
            "required" : [ "condition", "ean", "fixedAmount", "percentage", "reductions", "totalCost", "unitPrice" ],
            "properties" : {
                "ean" : {
                    "type" : "string",
                    "example" : "0000007740404",
                    "description" : "The EAN number associated with this product."
                },
                "condition" : {
                    "type" : "string",
                    "example" : "NEW",
                    "description" : "The condition of the offer."
                },
                "unitPrice" : {
                    "type" : "number",
                    "example" : 59.0,
                    "description" : "The intended selling price per single unit up to 2 decimals precision, including VAT."
                },
                "fixedAmount" : {
                    "type" : "number",
                    "example" : 0.99,
                    "description" : "A fixed commission fee, including VAT."
                },
                "percentage" : {
                    "type" : "number",
                    "example" : 15.0,
                    "description" : "A percentage of commission, based on the intended selling price per unit, including VAT."
                },
                "totalCost" : {
                    "type" : "number",
                    "example" : 6.85,
                    "description" : "The total commission for selling this product at bol.com. The price includes VAT for Dutch sellers, and excludes VAT for Belgium sellers."
                },
                "totalCostWithoutReduction" : {
                    "type" : "number",
                    "example" : 9.84,
                    "description" : "The total commission for selling this product at bol.com without reductions including VAT."
                },
                "reductions" : {
                    "type" : "array",
                    "items" : {
                        "$ref" : "#/definitions/Reduction"
                    }
                }
            }
        },
        "Condition" : {
            "type" : "object",
            "required" : [ "name" ],
            "properties" : {
                "name" : {
                    "type" : "string",
                    "example" : "AS_NEW",
                    "description" : "The condition of the offered product.",
                    "enum" : [ "NEW", "AS_NEW", "GOOD", "REASONABLE", "MODERATE" ]
                },
                "category" : {
                    "type" : "string",
                    "example" : "SECONDHAND",
                    "description" : "The category of the condition. If not given NEW or SECONDHAND is derived from NAME.",
                    "enum" : [ "NEW", "SECONDHAND" ]
[...]
