{
  "swagger" : "2.0",
  "host": "api.bol.com",
  "schemes": ["https"], 
  "info" : {
    "description" : "The bol.com API for retailers.",
    "version" : "9.x",
    "title" : "v9 - Retailer API"
  },
  "tags" : [ {
    "name" : "Commissions"
  }, {
    "name" : "Insights"
  }, {
    "name" : "Inventory"
  }, {
    "name" : "Invoices"
  }, {
    "name" : "Offers"
  }, {
    "name" : "Orders"
  }, {
    "name" : "Product Content"
  }, {
    "name" : "Products"
  }, {
    "name" : "Promotions"
  }, {
    "name" : "Replenishments"
  }, {
    "name" : "Retailers"
  }, {
    "name" : "Returns"
  }, {
    "name" : "Shipments"
  }, {
    "name" : "Shipping Labels"
  }, {
    "name" : "Subscriptions"
  }, {
    "name" : "Transports"
  } ],
  "paths" : {
    "/retailer/commission" : {
      "post" : {
        "tags" : [ "Commissions" ],
        "summary" : "Get all commissions and reductions by EAN in bulk",
        "description" : "Gets all commissions and possible reductions by EAN, price, and optionally condition.",
        "operationId" : "get-commissions",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/BulkCommissionRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/BulkCommissionResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/commission/{ean}" : {
      "get" : {
        "tags" : [ "Commissions" ],
        "summary" : "Get all commissions and reductions by EAN per single EAN",
        "description" : "Commissions can be filtered by condition, which defaults to NEW. We will calculate the commission amount from the EAN and price.",
        "operationId" : "get-commission",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this product.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        }, {
          "name" : "condition",
          "in" : "query",
          "description" : "The condition of the offer.",
          "required" : false,
          "type" : "string",
          "default" : "NEW",
          "enum" : [ "NEW", "AS_NEW", "GOOD", "REASONABLE", "MODERATE" ]
        }, {
          "name" : "unit-price",
          "in" : "query",
          "description" : "The price of the product with a period as a decimal separator. The price should always have two decimals precision.",
          "required" : true,
          "type" : "number",
          "x-example" : 59.0
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Commission"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/content/catalog-products/{ean}" : {
      "get" : {
        "tags" : [ "Product Content" ],
        "summary" : "Get catalog product details by EAN",
        "description" : "Gets the details of a catalog product by means of its EAN.",
        "operationId" : "get-catalog-product",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this product.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language in which the catalog product details will be retrieved.",
          "required" : false,
          "type" : "string",
          "default" : "nl",
          "x-example" : "nl",
          "enum" : [ "nl", "nl-BE", "fr", "fr-BE" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/CatalogProduct"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "406" : {
            "description" : "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/content/chunk-recommendations" : {
      "post" : {
        "tags" : [ "Product Content" ],
        "summary" : "Get chunk recommendations",
        "description" : "Gets a selected number of recommendations for a product.",
        "operationId" : "get-chunk-recommendations",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ChunkRecommendationsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ChunkRecommendationsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/content/products" : {
      "post" : {
        "tags" : [ "Product Content" ],
        "summary" : "Create content for a product",
        "description" : "Create content for an existing product.",
        "operationId" : "post-product-content",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateProductContentSingleRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/content/upload-report/{upload-id}" : {
      "get" : {
        "tags" : [ "Product Content" ],
        "summary" : "Get an upload report by upload id",
        "description" : "Gets the upload report of the product content submitted by upload id.",
        "operationId" : "get-upload-report",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "upload-id",
          "in" : "path",
          "description" : "The identifier of the upload report.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/UploadReportResponse"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/insights/offer" : {
      "get" : {
        "tags" : [ "Insights" ],
        "summary" : "Get offer insights",
        "description" : "Get the product visits and the buy box percentage for an offer during a given period.",
        "operationId" : "get-offer-insights",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "query",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "The time unit in which the offer insights are grouped.",
          "required" : true,
          "type" : "string",
          "enum" : [ "DAY", "WEEK", "MONTH" ]
        }, {
          "name" : "number-of-periods",
          "in" : "query",
          "description" : "The number of periods for which the offer insights are requested back in time. The maximum available periods are 24 for MONTH, 104 for WEEK, and 730 for DAY.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "name",
          "in" : "query",
          "description" : "The name of the requested offer insight.",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "PRODUCT_VISITS", "BUY_BOX_PERCENTAGE" ]
          },
          "collectionFormat" : "multi"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/OfferInsights"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/insights/performance/indicator" : {
      "get" : {
        "tags" : [ "Insights" ],
        "summary" : "Get performance indicators",
        "description" : "Gets the measurements for your performance indicators per week.",
        "operationId" : "get-performance-indicators",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "name",
          "in" : "query",
          "description" : "The type of the performance indicator",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "CANCELLATIONS", "FULFILMENT", "PHONE_AVAILABILITY", "RESPONSE_TIME", "CASE_ITEM_RATIO", "TRACK_AND_TRACE", "RETURNS", "REVIEWS" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "year",
          "in" : "query",
          "description" : "Year number in the ISO-8601 standard.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "week",
          "in" : "query",
          "description" : "Week number in the ISO-8601 standard. If you would like to get the relative scores from the current week, please provide the current week number here. Be advised that measurements can change heavily over the course of the week.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/PerformanceIndicators"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/insights/sales-forecast" : {
      "get" : {
        "tags" : [ "Insights" ],
        "summary" : "Get sales forecast",
        "description" : "Get sales forecast to estimate the sales expectations on the total bol.com platform for the requested number of weeks ahead.",
        "operationId" : "get-sales-forecast",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "query",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "weeks-ahead",
          "in" : "query",
          "description" : "The number of weeks into the future, starting from today.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SalesForecastResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/insights/search-terms" : {
      "get" : {
        "tags" : [ "Insights" ],
        "summary" : "Get search terms",
        "description" : "Retrieves the search volume for a specified search term and period. The search volume allows you to see what bol.com customers are searching for. Based on the search volume per search term you can optimize your product content, or spot opportunities to extend your assortment, or analyzing trends for inventory management.",
        "operationId" : "get-search-terms",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "search-term",
          "in" : "query",
          "description" : "The search term for which you want to request the search volume.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "period",
          "in" : "query",
          "description" : "The time unit in which the offer insights are grouped.",
          "required" : true,
          "type" : "string",
          "enum" : [ "DAY", "WEEK", "MONTH" ]
        }, {
          "name" : "number-of-periods",
          "in" : "query",
          "description" : "The number of periods for which the offer insights are requested back in time.",
          "required" : true,
          "type" : "integer",
          "format" : "int32"
        }, {
          "name" : "related-search-terms",
          "in" : "query",
          "description" : "Indicates whether or not you want to retrieve the related search terms.",
          "required" : false,
          "type" : "boolean",
          "default" : false
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SearchTerms"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/inventory" : {
      "get" : {
        "tags" : [ "Inventory" ],
        "summary" : "Get LVB/FBB inventory",
        "description" : "The inventory endpoint is a specific LVB/FBB endpoint. It provides a paginated list containing your fulfilment by bol.com inventory. This endpoint does not provide information about your own stock.",
        "operationId" : "get-inventory",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        }, {
          "name" : "quantity",
          "in" : "query",
          "description" : "Filter inventory by providing a range of quantity (min-range)-(max-range). Note that if no state query is submitted in the same request, then the quantity will be filtered on regularStock by default.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi",
          "x-example" : "0-10,20-30"
        }, {
          "name" : "stock",
          "in" : "query",
          "description" : "Filter inventory by stock level.",
          "required" : false,
          "type" : "string",
          "x-example" : "SUFFICIENT",
          "enum" : [ "SUFFICIENT", "INSUFFICIENT" ]
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "Filter inventory by stock type.",
          "required" : false,
          "type" : "string",
          "x-example" : "REGULAR",
          "enum" : [ "REGULAR", "GRADED" ]
        }, {
          "name" : "query",
          "in" : "query",
          "description" : "Filter inventory by EAN or product title.",
          "required" : false,
          "type" : "string",
          "x-example" : "0000007740404"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/InventoryResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/invoices" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Get all invoices",
        "description" : "Gets a list of invoices, by default from the past 4 weeks. The optional period-start-date and period-end-date-date parameters can be used together to retrieve invoices from a specific date range in the past, the period can be no longer than 31 days. Invoices and their specifications can be downloaded separately in different media formats with the ‘GET an invoice by id’ and the ‘GET an invoice specification by id’ calls. The available media types differ per invoice and are listed per invoice within the response. Note: the media types listed in the response must be given in our standard API format.",
        "operationId" : "get-invoices",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "period-start-date",
          "in" : "query",
          "description" : "Period start date in ISO 8601 standard.",
          "required" : false,
          "type" : "string",
          "x-example" : "2019-03-01"
        }, {
          "name" : "period-end-date",
          "in" : "query",
          "description" : "Period end date in ISO 8601 standard.",
          "required" : false,
          "type" : "string",
          "x-example" : "2019-03-31"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/invoices/{invoice-id}" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Get an invoice by invoice id",
        "description" : "Gets an invoice by invoice id. The available media types differ per invoice and are listed within the response from the ‘GET all invoices’ call. Note: the media types listed in the response must be given in our standard API format.",
        "operationId" : "get-invoice",
        "produces" : [ "application/vnd.retailer.v9+json", "application/vnd.retailer.v9+pdf" ],
        "parameters" : [ {
          "name" : "invoice-id",
          "in" : "path",
          "description" : "The id of the invoice",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/invoices/{invoice-id}/specification" : {
      "get" : {
        "tags" : [ "Invoices" ],
        "summary" : "Get an invoice specification by invoice id",
        "description" : "Gets an invoice specification for an invoice with a paginated list of its transactions. The available media types differ per invoice specification and are listed within the response from the ‘GET all invoices’ call. Note, the media types listed in the response must be given in our standard API format.",
        "operationId" : "get-invoice-specification",
        "produces" : [ "application/vnd.retailer.v9+json", "application/vnd.retailer.v9+openxmlformats-officedocument.spreadsheetml.sheet" ],
        "parameters" : [ {
          "name" : "invoice-id",
          "in" : "path",
          "description" : "The identifier of the invoice.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a maximum of 25,000 lines.",
          "required" : false,
          "type" : "integer",
          "minimum" : 1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers" : {
      "post" : {
        "tags" : [ "Offers" ],
        "summary" : "Create a new offer",
        "description" : "Creates a new offer, and adds it to the catalog. After creation, status information can be retrieved to review if the offer is valid and published to the shop.",
        "operationId" : "post-offer",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateOfferRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/export" : {
      "post" : {
        "tags" : [ "Offers" ],
        "summary" : "Request an offer export file",
        "description" : "Request an offer export file containing all offers.",
        "operationId" : "post-offer-export",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateOfferExportRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/export/{report-id}" : {
      "get" : {
        "tags" : [ "Offers" ],
        "summary" : "Retrieve an offer export file by offer export id",
        "description" : "Retrieve an offer export file containing all offers.",
        "operationId" : "get-offer-export",
        "produces" : [ "application/vnd.retailer.v9+csv" ],
        "parameters" : [ {
          "name" : "report-id",
          "in" : "path",
          "description" : "Unique identifier for an offer export report.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request."
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/unpublished" : {
      "post" : {
        "tags" : [ "Offers" ],
        "summary" : "Request an unpublished offer report",
        "description" : "Request an unpublished offer report containing all unpublished offers and reasons.",
        "operationId" : "post-unpublished-offer-report",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateUnpublishedOfferReportRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/unpublished/{report-id}" : {
      "get" : {
        "tags" : [ "Offers" ],
        "summary" : "Retrieve an unpublished offer report by report id",
        "description" : "Retrieve an unpublished offer report containing all unpublished offers and reasons.",
        "operationId" : "get-unpublished-offer-report",
        "produces" : [ "application/vnd.retailer.v9+csv" ],
        "parameters" : [ {
          "name" : "report-id",
          "in" : "path",
          "description" : "Unique identifier for unpublished offer report.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request."
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/{offer-id}" : {
      "get" : {
        "tags" : [ "Offers" ],
        "summary" : "Retrieve an offer by its offer id",
        "description" : "Retrieve an offer by using the offer id provided to you when creating or listing your offers.",
        "operationId" : "get-offer",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/RetailerOffer"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Offers" ],
        "summary" : "Update an offer",
        "description" : "Use this endpoint to send an offer update. This endpoint returns a process status.",
        "operationId" : "put-offer",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateOfferRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Offers" ],
        "summary" : "Delete offer by id",
        "description" : "Delete an offer by id.",
        "operationId" : "delete-offer",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/{offer-id}/price" : {
      "put" : {
        "tags" : [ "Offers" ],
        "summary" : "Update price(s) for offer by id",
        "description" : "Update price(s) for offer by id.",
        "operationId" : "update-offer-price",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateOfferPriceRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/offers/{offer-id}/stock" : {
      "put" : {
        "tags" : [ "Offers" ],
        "summary" : "Update stock for offer by id",
        "description" : "Update stock for offer by id.",
        "operationId" : "update-offer-stock",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "offer-id",
          "in" : "path",
          "description" : "Unique identifier for an offer.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateOfferStockRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/orders" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get a list of orders",
        "description" : "Gets a paginated list of all orders for a retailer.",
        "operationId" : "get-orders",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32"
        }, {
          "name" : "fulfilment-method",
          "in" : "query",
          "description" : "Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB). In order to retrieve both FBR and FBB orders, ALL can be used as a parameter.",
          "required" : false,
          "type" : "string",
          "default" : "FBR",
          "enum" : [ "FBR", "FBB", "ALL" ]
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "To filter on order status. You can filter on either all orders independent from their status, open orders (excluding shipped and cancelled orders), and shipped orders.",
          "required" : false,
          "type" : "string",
          "default" : "OPEN",
          "enum" : [ "OPEN", "SHIPPED", "ALL" ]
        }, {
          "name" : "change-interval-minute",
          "in" : "query",
          "description" : "To filter on the period in minutes during which the latest change was performed on an order item.",
          "required" : false,
          "type" : "integer",
          "maximum" : 60,
          "format" : "int32"
        }, {
          "name" : "latest-change-date",
          "in" : "query",
          "description" : "To filter on the date on which the latest change was performed on an order item. Up to 3 months of history is supported.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ReducedOrders"
            }
          }
        }
      }
    },
    "/retailer/orders/cancellation" : {
      "put" : {
        "tags" : [ "Orders" ],
        "summary" : "Cancel an order item by an order item id",
        "description" : "This endpoint can be used to either confirm a cancellation request by the customer or to cancel an order item you yourself are unable to fulfil.",
        "operationId" : "cancel-order-item",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/Container for the order items that have to be cancelled."
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/orders/shipment" : {
      "put" : {
        "tags" : [ "Orders" ],
        "summary" : "Ship order item",
        "description" : "Ship a single order item within a customer order by providing shipping information. If you purchased a shipping label you should add the shippingLabelId to this message and leave the transport element empty. If you will ship the item using your own transporter method you must omit the shippingLabelId entirely and fill in the transport element with the fields from GET shipping labels.",
        "operationId" : "ship-order-item",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ShipmentRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/orders/{order-id}" : {
      "get" : {
        "tags" : [ "Orders" ],
        "summary" : "Get an order by order id",
        "description" : "Gets an order by order id. The order can be partially shipped or cancelled, and the message contains the quantity shipped or cancelled items. The unitPrice takes account of volume discounts.",
        "operationId" : "get-order",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "order-id",
          "in" : "path",
          "description" : "The id of the order to get.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Order"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/products/list" : {
      "post" : {
        "tags" : [ "Products" ],
        "summary" : "Get product list",
        "description" : "Gets the list of products based on category, search term or filters.",
        "operationId" : "get-product-list",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language in which the product list will be retrieved.",
          "required" : false,
          "type" : "string",
          "default" : "nl",
          "x-example" : "nl",
          "enum" : [ "nl", "nl-BE", "nl-NL", "fr-BE" ]
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ProductListRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProductListResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "406" : {
            "description" : "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/products/list-filters" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get product list filters",
        "description" : "Gets the list of possible filters for products based on category or search term.",
        "operationId" : "get-product-list-filters",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "country-code",
          "in" : "query",
          "description" : "The country for which the filters will be retrieved.",
          "required" : false,
          "type" : "string",
          "default" : "NL",
          "x-example" : "NL",
          "enum" : [ "NL", "BE" ]
        }, {
          "name" : "search-term",
          "in" : "query",
          "description" : "The search-term to get the associated categories and filters for.",
          "required" : false,
          "type" : "string",
          "maxLength" : 50,
          "minLength" : 0,
          "x-example" : "pen"
        }, {
          "name" : "category-id",
          "in" : "query",
          "description" : "The category to get the associated filters for.",
          "required" : false,
          "type" : "string",
          "maxLength" : 11,
          "minLength" : 0,
          "x-example" : "10505"
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language in which the product list filters will be retrieved.",
          "required" : false,
          "type" : "string",
          "default" : "nl",
          "x-example" : "nl",
          "enum" : [ "nl", "nl-BE", "nl-NL", "fr-BE" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProductListFiltersResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "406" : {
            "description" : "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/products/{ean}/assets" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get product assets",
        "description" : "Gets the list of asset available for the product by EAN.",
        "operationId" : "get-product-assets",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this product.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        }, {
          "name" : "usage",
          "in" : "query",
          "description" : "Type of the asset being used for.",
          "required" : false,
          "type" : "string",
          "default" : "PRIMARY",
          "x-example" : "ADDITIONAL",
          "enum" : [ "PRIMARY", "ADDITIONAL", "IMAGE" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProductAssetsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/products/{ean}/offers" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get a list of competing offers by EAN",
        "description" : "Use this endpoint to get a list of offers available in the webshop. The list includes offers for all retailers.",
        "operationId" : "get-competing-offers",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this product.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        }, {
          "name" : "country-code",
          "in" : "query",
          "description" : "Countries in which this offer is currently on sale in the webshop, in ISO-3166-1 format.",
          "required" : false,
          "type" : "string",
          "default" : "NL",
          "x-example" : "NL",
          "enum" : [ "NL", "BE" ]
        }, {
          "name" : "best-offer-only",
          "in" : "query",
          "description" : "Indicator to request the best offer within the country for the requested EAN.",
          "required" : false,
          "type" : "boolean",
          "default" : false,
          "x-example" : true
        }, {
          "name" : "condition",
          "in" : "query",
          "description" : "The condition of the offered product.",
          "required" : false,
          "type" : "string",
          "default" : "NEW",
          "x-example" : "NEW",
          "enum" : [ "ALL", "BAD", "MODERATE", "REASONABLE", "GOOD", "AS_NEW", "NEW" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/CompetingOffersResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/products/{ean}/placement" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get product placement",
        "description" : "Gets the list of categories and the URL where the product is placed in the webshop.",
        "operationId" : "get-product-placement",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this product.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        }, {
          "name" : "country-code",
          "in" : "query",
          "description" : "The country of the product placed on the webshop.",
          "required" : false,
          "type" : "string",
          "default" : "NL",
          "x-example" : "NL",
          "enum" : [ "NL", "BE" ]
        }, {
          "name" : "Accept-Language",
          "in" : "header",
          "description" : "The language in which the product categories and URL will be retrieved.",
          "required" : false,
          "type" : "string",
          "default" : "nl",
          "x-example" : "nl",
          "enum" : [ "nl", "nl-BE", "fr-BE" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProductPlacementResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "406" : {
            "description" : "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/products/{ean}/product-ids" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get product ids by EAN",
        "description" : "Get the bol.com specific product identifier and the related EANs.",
        "operationId" : "get-product-ids",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this product.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProductIdsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/products/{ean}/ratings" : {
      "get" : {
        "tags" : [ "Products" ],
        "summary" : "Get product ratings",
        "description" : "Gets a list of ratings for the products associated with the provided EAN.",
        "operationId" : "get-product-ratings",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "ean",
          "in" : "path",
          "description" : "The EAN number associated with this rating.",
          "required" : true,
          "type" : "string",
          "x-example" : "0000007740404"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProductRatingsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/promotions" : {
      "get" : {
        "tags" : [ "Promotions" ],
        "summary" : "Get a list of promotions",
        "description" : "Gets a paginated list of all promotions for a retailer.",
        "operationId" : "get-promotions",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "promotion-type",
          "in" : "query",
          "description" : "The type(s) of promotion to be retrieved.",
          "required" : true,
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "AWARENESS", "PRICE_OFF" ]
          },
          "collectionFormat" : "multi"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Promotions"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/promotions/{promotion-id}" : {
      "get" : {
        "tags" : [ "Promotions" ],
        "summary" : "Get a promotion by promotion id",
        "description" : "Gets the details of a promotion.",
        "operationId" : "get-promotion",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "promotion-id",
          "in" : "path",
          "description" : "The identifier of the promotion.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Promotion"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/promotions/{promotion-id}/products" : {
      "get" : {
        "tags" : [ "Promotions" ],
        "summary" : "Get a list of products",
        "description" : "Gets a paginated list of all products that are present within a promotion.",
        "operationId" : "get-products",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "promotion-id",
          "in" : "path",
          "description" : "The identifier of the promotion.",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Products"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments" : {
      "get" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Get replenishments",
        "description" : "Gets a list of replenishments.",
        "operationId" : "get-replenishments",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "reference",
          "in" : "query",
          "description" : "Custom user defined reference to identify the replenishment.",
          "required" : false,
          "type" : "string",
          "x-example" : "REFERENCE1"
        }, {
          "name" : "ean",
          "in" : "query",
          "description" : "The EAN number associated with this product.",
          "required" : false,
          "type" : "string",
          "x-example" : "0000007740404"
        }, {
          "name" : "start-date",
          "in" : "query",
          "description" : "The creation start date to find the replenishment. In ISO 8601 format.",
          "required" : false,
          "type" : "string",
          "x-example" : "2021-01-01"
        }, {
          "name" : "end-date",
          "in" : "query",
          "description" : "The end date of the range to find the replenishment. In ISO 8601 format.",
          "required" : false,
          "type" : "string",
          "x-example" : "2021-01-02"
        }, {
          "name" : "state",
          "in" : "query",
          "description" : "The current state(s) of the replenishment.",
          "required" : false,
          "type" : "array",
          "items" : {
            "type" : "string"
          },
          "collectionFormat" : "multi",
          "x-example" : "ANNOUNCED"
        }, {
          "name" : "page",
          "in" : "query",
          "description" : "The requested page number with a page size of 50 items.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32",
          "x-example" : 1
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ReplenishmentsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Create a replenishment",
        "description" : "Creates a replenishment.",
        "operationId" : "post-replenishment",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateReplenishmentRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments/delivery-dates" : {
      "get" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Get delivery dates",
        "description" : "Retrieve a list of available delivery dates for a replenishment.",
        "operationId" : "get-delivery-dates",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/DeliveryDatesResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments/pickup-time-slots" : {
      "post" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Post pickup time slots",
        "description" : "Retrieve pickup time slots.",
        "operationId" : "post-pickup-time-slots",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/PickupTimeSlotsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/PickupTimeSlotsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments/product-destinations" : {
      "post" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Request product destinations",
        "description" : "Requests a list of product destinations by EANs.",
        "operationId" : "post-request-product-destinations",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/RequestProductDestinationsRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments/product-destinations/{product-destinations-id}" : {
      "get" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Get product destinations by product destinations id",
        "description" : "Gets the product destinations for one or more products by product destinations id.",
        "operationId" : "get-product-destinations",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "product-destinations-id",
          "in" : "path",
          "description" : "The identifier of the product destinations requested.",
          "required" : true,
          "type" : "string",
          "x-example" : "9483fc7e-faf3-4814-864e-dee412044c27"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ProductDestinationsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments/product-labels" : {
      "post" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Post product labels",
        "description" : "Retrieve product labels.",
        "operationId" : "post-product-labels",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+pdf" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ProductLabelsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments/{replenishment-id}" : {
      "get" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Get a replenishment by replenishment id",
        "description" : "Gets a replenishment by replenishment id.",
        "operationId" : "get-replenishment",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "replenishment-id",
          "in" : "path",
          "description" : "The unique identifier of the replenishment.",
          "required" : true,
          "type" : "string",
          "x-example" : "2312078154"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ReplenishmentResponse"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Update a replenishment by replenishment id",
        "description" : "Updates a replenishment.",
        "operationId" : "put-replenishment",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "replenishment-id",
          "in" : "path",
          "description" : "The unique identifier of the replenishment.",
          "required" : true,
          "type" : "string",
          "x-example" : "2312078154"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateReplenishmentRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments/{replenishment-id}/load-carrier-labels" : {
      "get" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Get load carrier labels",
        "description" : "Retrieve the load carrier labels.",
        "operationId" : "get-load-carrier-labels",
        "produces" : [ "application/vnd.retailer.v9+pdf" ],
        "parameters" : [ {
          "name" : "replenishment-id",
          "in" : "path",
          "description" : "The unique identifier of the replenishment.",
          "required" : true,
          "type" : "string",
          "x-example" : "2312078154"
        }, {
          "name" : "label-type",
          "in" : "query",
          "description" : "The type of label which you want to print.",
          "required" : false,
          "type" : "string",
          "default" : "WAREHOUSE",
          "x-example" : "WAREHOUSE",
          "enum" : [ "WAREHOUSE", "TRANSPORT" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/replenishments/{replenishment-id}/pick-list" : {
      "get" : {
        "tags" : [ "Replenishments" ],
        "summary" : "Get pick list",
        "description" : "Retrieve the pick list.",
        "operationId" : "get-pick-list",
        "produces" : [ "application/vnd.retailer.v9+pdf" ],
        "parameters" : [ {
          "name" : "replenishment-id",
          "in" : "path",
          "description" : "The unique identifier of the replenishment.",
          "required" : true,
          "type" : "string",
          "x-example" : "2312078154"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/retailers/{retailer-id}" : {
      "get" : {
        "tags" : [ "Retailers" ],
        "summary" : "Get retailer information by retailer id",
        "description" : "Gets retailer information of a single retailer.",
        "operationId" : "get-retailer-information",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "retailer-id",
          "in" : "path",
          "description" : "The Id of the retailer which information belongs to.",
          "required" : true,
          "type" : "string",
          "x-example" : "1055479"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/RetailerInformationResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/returns" : {
      "get" : {
        "tags" : [ "Returns" ],
        "summary" : "Get returns",
        "description" : "Get a paginated list of multi-item returns. Handled returns are sorted by date in descending order, while unhandled returns are sorted by date in ascending order.",
        "operationId" : "get-returns",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page to get with a page size of 50.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 1,
          "format" : "int32"
        }, {
          "name" : "handled",
          "in" : "query",
          "description" : "The status of the returns you wish to see, shows either handled or unhandled returns.",
          "required" : false,
          "type" : "boolean"
        }, {
          "name" : "fulfilment-method",
          "in" : "query",
          "description" : "The fulfilment method. Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB).",
          "required" : false,
          "type" : "string",
          "default" : "FBR",
          "enum" : [ "FBR", "FBB" ]
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ReturnsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Returns" ],
        "summary" : "Create a return",
        "description" : "Create a return, and automatically handle it with the provided handling result. When successfully created, the resulting return id is provided in the process status.",
        "operationId" : "create-return",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateReturnRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/returns/{return-id}" : {
      "get" : {
        "tags" : [ "Returns" ],
        "summary" : "Get a return by return id",
        "description" : "Retrieve a return based on the return id.",
        "operationId" : "get-return",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "return-id",
          "in" : "path",
          "description" : "Unique identifier for a return.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Return"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/returns/{rma-id}" : {
      "put" : {
        "tags" : [ "Returns" ],
        "summary" : "Handle a return by rma id",
        "description" : "Allows the user to handle a return. This can be to either handle an open return, or change the handlingResult of an already handled return. Please refer to the Returns documentation for further details.",
        "operationId" : "handle-return",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "rma-id",
          "in" : "path",
          "description" : "The RMA (Return Merchandise Authorization) identifier of the return.",
          "required" : true,
          "type" : "integer",
          "format" : "int64"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The handling result requested by the retailer.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ReturnRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipments" : {
      "get" : {
        "tags" : [ "Shipments" ],
        "summary" : "Get shipment list",
        "description" : "A paginated list to retrieve all your shipments up to 3 months old. The shipments will be sorted by date in descending order.",
        "operationId" : "get-shipments",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page to get with a page size of 50.",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "format" : "int32"
        }, {
          "name" : "fulfilment-method",
          "in" : "query",
          "description" : "The fulfilment method. Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB).",
          "required" : false,
          "type" : "string",
          "default" : "FBR",
          "enum" : [ "FBR", "FBB" ]
        }, {
          "name" : "order-id",
          "in" : "query",
          "description" : "The id of the order. Only valid without fulfilment-method. The default fulfilment-method is ignored.",
          "required" : false,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/ShipmentsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipments/{shipment-id}" : {
      "get" : {
        "tags" : [ "Shipments" ],
        "summary" : "Get a shipment by shipment id",
        "description" : "Retrieve a single shipment by its corresponding id.",
        "operationId" : "get-shipment",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "shipment-id",
          "in" : "path",
          "description" : "The id of the shipment.",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/Shipment"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipping-labels" : {
      "post" : {
        "tags" : [ "Shipping Labels" ],
        "summary" : "Create a shipping label",
        "description" : "Create a shipping label with a shipping label offer id retrieved from get delivery options.",
        "operationId" : "post-shipping-label",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ShippingLabelRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipping-labels/delivery-options" : {
      "post" : {
        "tags" : [ "Shipping Labels" ],
        "summary" : "Get delivery options",
        "description" : "Retrieves all available delivery options based on the supplied configuration of order items that has to be shipped.",
        "operationId" : "get-delivery-options",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/DeliveryOptionsRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/DeliveryOptionsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/shipping-labels/{shipping-label-id}" : {
      "get" : {
        "tags" : [ "Shipping Labels" ],
        "summary" : "Get a shipping label",
        "description" : "Retrieves a shipping label by shipping label id. Metadata for the shipping label is added as headers in the response. If you are only interested in the metadata, you can do a HEAD request to retrieve only the headers without the label data.",
        "operationId" : "get-shipping-label",
        "produces" : [ "application/vnd.retailer.v9+pdf" ],
        "parameters" : [ {
          "name" : "shipping-label-id",
          "in" : "path",
          "description" : "The shipping label id.",
          "required" : true,
          "type" : "string",
          "x-example" : "6ff736b5-cdd0-4150-8c67-78269ee986f5"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "headers" : {
              "X-Track-And-Trace-Code" : {
                "type" : "string",
                "description" : "Track and trace code for the retrieved label."
              },
              "X-Transporter-Code" : {
                "type" : "string",
                "description" : "Transporter code for the retrieved label."
              }
            },
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string",
                "format" : "byte"
              }
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/subscriptions" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Get push notification subscriptions",
        "description" : "Retrieve a list of all configured and active push notification subscriptions.",
        "operationId" : "get-push-notification-subscriptions",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SubscriptionsResponse"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Create push notification subscription",
        "description" : "Create a push notification subscription for one (or more) of the available resources. The configured URL has to support https scheme.",
        "operationId" : "post-push-notification-subscription",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/CreateSubscriptionRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/subscriptions/signature-keys" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Retrieve public keys for push notification signature validation.",
        "description" : "Retrieve a list of public keys that should be used to validate the signature header for push notifications received from bol.com.",
        "operationId" : "get-subscription-keys",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/KeySetResponse"
            }
          }
        }
      }
    },
    "/retailer/subscriptions/test/{subscription-id}" : {
      "post" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Send test push notification for subscriptions",
        "description" : "Send a test push notification to all subscriptions for the provided event.",
        "operationId" : "post-test-push-notification",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "subscription-id",
          "in" : "path",
          "description" : "A unique identifier for the subscription.",
          "required" : true,
          "type" : "string",
          "x-example" : "1234"
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/subscriptions/{subscription-id}" : {
      "get" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Get push notification subscription by id",
        "description" : "Retrieve a configured and active push notification subscription with the provided id.",
        "operationId" : "get-push-notification-subscription",
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "subscription-id",
          "in" : "path",
          "description" : "A unique identifier for the subscription.",
          "required" : true,
          "type" : "string",
          "x-example" : "1234"
        } ],
        "responses" : {
          "200" : {
            "description" : "Ok: Successfully processed the request.",
            "schema" : {
              "$ref" : "#/definitions/SubscriptionResponse"
            }
          },
          "404" : {
            "description" : "Not found: The requested item could not be found.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "put" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Update push notification subscription",
        "description" : "Update an existing push notification subscription with the supplied id. The configured URL has to support https scheme.",
        "operationId" : "put-push-notification-subscription",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "subscription-id",
          "in" : "path",
          "description" : "A unique identifier for the subscription.",
          "required" : true,
          "type" : "string",
          "x-example" : "1234"
        }, {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/UpdateSubscriptionRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Subscriptions" ],
        "summary" : "Delete push notification subscription",
        "description" : "Delete a push notification subscription with the provided id.",
        "operationId" : "delete-push-notification-subscription",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "subscription-id",
          "in" : "path",
          "description" : "A unique identifier for the subscription.",
          "required" : true,
          "type" : "string",
          "x-example" : "1234"
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
            "schema" : {
              "$ref" : "#/definitions/Problem"
            }
          }
        }
      }
    },
    "/retailer/transports/{transport-id}" : {
      "put" : {
        "tags" : [ "Transports" ],
        "summary" : "Add transport information by transport id",
        "description" : "Add information to an existing transport. The transport id is part of the shipment. You can retrieve the transport id through the GET shipment list request.",
        "operationId" : "add-transport-information-by-transport-id",
        "consumes" : [ "application/vnd.retailer.v9+json" ],
        "produces" : [ "application/vnd.retailer.v9+json" ],
        "parameters" : [ {
          "name" : "transport-id",
          "in" : "path",
          "description" : "The transport id.",
          "required" : true,
          "type" : "string"
        }, {
          "in" : "body",
          "name" : "body",
          "description" : "The change transport requested by the user.",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/ChangeTransportRequest"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Accepted: Successfully scheduled the request for processing.",
            "schema" : {
              "$ref" : "#/definitions/ProcessStatus"
            }
          },
          "400" : {
            "description" : "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
[...]
