{
    "openapi": "3.0.1",
    "info": {
        "title": "v10 - Retailer API",
        "description": "The bol.com API for retailers.\n\n# Authentication\nOur API requires authentication via OAuth2. The detailed steps to authenticate are explained [here](https://api.bol.com/retailer/public/Retailer-API/authentication.html) \n\n# Demo scenarios\nOur API specification includes examples of the responses you can expect. For more information as well as more examples, we refer you to the following resources:  \n- [Demo environment](https://api.bol.com/retailer/public/Retailer-API/demo/demo.html)\n- [Demo scenarios](https://api.bol.com/retailer/public/Retailer-API/demo/v10-index.html)\n",
        "termsOfService": "https://api.bol.com/retailer/public/Retailer-API/legal/terms-of-service.html",
        "contact": {
            "name": "developers.bol.com",
            "url": "https://developers.bol.com"
        },
        "version": "10.x",
        "x-logo": {
            "url": "https://api.bol.com/retailer/public/Retailer-API/_images/bolcom_logo.png",
            "altText": "bol.com logo"
        }
    },
    "servers": [
        {
            "url": "https://api.bol.com"
        }
    ],
    "security": [
        {
            "OAuth2": []
        }
    ],
    "tags": [
        {
            "name": "Commissions",
            "description": "Commissions resource"
        },
        {
            "name": "Insights",
            "description": "Insights resource"
        },
        {
            "name": "Inventory",
            "description": "Inventory resource"
        },
        {
            "name": "Invoices",
            "description": "Invoice resource"
        },
        {
            "name": "Offers",
            "description": "Offer resource"
        },
        {
            "name": "Orders",
            "description": "Order resource"
        },
        {
            "name": "Product Content",
            "description": "Product content resource"
        },
        {
            "name": "Products",
            "description": "Products resource"
        },
        {
            "name": "Promotions",
            "description": "Promotions resource"
        },
        {
            "name": "Replenishments",
            "description": "Replenishments resource"
        },
        {
            "name": "Retailers",
            "description": "Retailers resource"
        },
        {
            "name": "Returns",
            "description": "Return resource"
        },
        {
            "name": "Shipments",
            "description": "Shipment resource"
        },
        {
            "name": "Shipping Labels",
            "description": "Shipping labels resource"
        },
        {
            "name": "Subscriptions",
            "description": "Push notification subscriptions resource"
        },
        {
            "name": "Transports",
            "description": "Transport resource"
        }
    ],
    "paths": {
        "/retailer/commission": {
            "post": {
                "tags": [
                    "Commissions"
                ],
                "summary": "Get all commissions and reductions by EAN in bulk",
                "description": "Gets all commissions and possible reductions by EAN, price, and optionally condition.",
                "operationId": "get-commissions",
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkCommissionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkCommissionResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/commission/{ean}": {
            "get": {
                "tags": [
                    "Commissions"
                ],
                "summary": "Get all commissions and reductions by EAN per single EAN",
                "description": "Commissions can be filtered by condition, which defaults to NEW. We will calculate the commission amount from the EAN and price.",
                "operationId": "get-commission",
                "parameters": [
                    {
                        "name": "ean",
                        "in": "path",
                        "description": "The EAN number associated with this product.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0000007740404"
                    },
                    {
                        "name": "condition",
                        "in": "query",
                        "description": "The condition of the offer.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NEW",
                                "AS_NEW",
                                "GOOD",
                                "REASONABLE",
                                "MODERATE"
                            ]
                        }
                    },
                    {
                        "name": "unit-price",
                        "in": "query",
                        "description": "The price of the product with a period as a decimal separator. The price should always have two decimals precision.",
                        "required": true,
                        "schema": {
                            "maximum": 9999,
                            "minimum": 0,
                            "type": "number"
                        },
                        "example": 59
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Commission"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/commissions": {
            "post": {
                "tags": [
                    "Commissions"
                ],
                "summary": "Get a list of commissions by EAN (BETA)",
                "description": "Gets a list of all commissions using EAN.",
                "operationId": "get-commission-rates",
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CommissionProducts"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "207": {
                        "description": "Multi-status: Retrieved successful and unsuccessful results.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BulkCommissionRatesMultiStatusResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/content/catalog-products/{ean}": {
            "get": {
                "tags": [
                    "Product Content"
                ],
                "summary": "Get catalog product details by EAN",
                "description": "Gets the details of a catalog product by means of its EAN.",
                "operationId": "get-catalog-product",
                "parameters": [
                    {
                        "name": "ean",
                        "in": "path",
                        "description": "The EAN number associated with this product.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0000007740404"
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "The language in which the catalog product details will be retrieved.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nl",
                                "nl-BE",
                                "fr",
                                "fr-BE"
                            ]
                        },
                        "example": "nl"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CatalogProduct"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/content/chunk-recommendations": {
            "post": {
                "tags": [
                    "Product Content"
                ],
                "summary": "Get chunk recommendations",
                "description": "Gets a selected number of recommendations for a product.",
                "operationId": "get-chunk-recommendations",
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/ChunkRecommendationsRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ChunkRecommendationsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/content/products": {
            "post": {
                "tags": [
                    "Product Content"
                ],
                "summary": "Create content for a product",
                "description": "Create content for an existing product.",
                "operationId": "post-product-content",
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateProductContentSingleRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/content/upload-report/{upload-id}": {
            "get": {
                "tags": [
                    "Product Content"
                ],
                "summary": "Get an upload report by upload id",
                "description": "Gets the upload report of the product content submitted by upload id.",
                "operationId": "get-upload-report",
                "parameters": [
                    {
                        "name": "upload-id",
                        "in": "path",
                        "description": "The identifier of the upload report.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadReportResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/insights/offer": {
            "get": {
                "tags": [
                    "Insights"
                ],
                "summary": "Get offer insights",
                "description": "Get the product visits and the buy box percentage for an offer during a given period.",
                "operationId": "get-offer-insights",
                "parameters": [
                    {
                        "name": "offer-id",
                        "in": "query",
                        "description": "Unique identifier for an offer.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The time unit in which the offer insights are grouped.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DAY",
                                "WEEK",
                                "MONTH"
                            ]
                        }
                    },
                    {
                        "name": "number-of-periods",
                        "in": "query",
                        "description": "The number of periods for which the offer insights are requested back in time. The maximum available periods are 24 for MONTH, 104 for WEEK, and 730 for DAY.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name of the requested offer insight.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PRODUCT_VISITS",
                                "BUY_BOX_PERCENTAGE"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OfferInsights"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/insights/performance/indicator": {
            "get": {
                "tags": [
                    "Insights"
                ],
                "summary": "Get performance indicators",
                "description": "Gets the measurements for your performance indicators per week.",
                "operationId": "get-performance-indicators",
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The type of the performance indicator",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "CANCELLATIONS",
                                "FULFILMENT",
                                "PHONE_AVAILABILITY",
                                "RESPONSE_TIME",
                                "CASE_ITEM_RATIO",
                                "TRACK_AND_TRACE",
                                "RETURNS",
                                "REVIEWS"
                            ]
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Year number in the ISO-8601 standard.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "week",
                        "in": "query",
                        "description": "Week number in the ISO-8601 standard. If you would like to get the relative scores from the current week, please provide the current week number here. Be advised that measurements can change heavily over the course of the week.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PerformanceIndicators"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/insights/product-ranks": {
            "get": {
                "tags": [
                    "Insights"
                ],
                "summary": "Get product ranks",
                "description": "Gets a list of product ranks.",
                "operationId": "get-product-ranks",
                "parameters": [
                    {
                        "name": "ean",
                        "in": "query",
                        "description": "The EAN number associated with this product.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date",
                        "in": "query",
                        "description": "Filters search results to a specific date. The date must be in the past, no more than three months back, and up to yesterday.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Determines the search type, either 'SEARCH' for specific queries or 'BROWSE' for broader category searches. In order to retrieve all results, it can be sent as \"null\".",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SEARCH",
                                "BROWSE"
                            ]
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The requested page number with a page size of 50 items.",
                        "required": false,
                        "schema": {
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "The language to search for.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nl-NL",
                                "nl",
                                "nl-BE",
                                "fr",
                                "fr-BE"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductRanks"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/insights/sales-forecast": {
            "get": {
                "tags": [
                    "Insights"
                ],
                "summary": "Get sales forecast",
                "description": "Get sales forecast to estimate the sales expectations on the total bol.com platform for the requested number of weeks ahead.",
                "operationId": "get-sales-forecast",
                "parameters": [
                    {
                        "name": "offer-id",
                        "in": "query",
                        "description": "Unique identifier for an offer.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "weeks-ahead",
                        "in": "query",
                        "description": "The number of weeks into the future, starting from today.",
                        "required": true,
                        "schema": {
                            "maximum": 12,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SalesForecastResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/insights/search-terms": {
            "get": {
                "tags": [
                    "Insights"
                ],
                "summary": "Get search terms",
                "description": "Retrieves the search volume for a specified search term and period. The search volume allows you to see what bol.com customers are searching for. Based on the search volume per search term you can optimize your product content, or spot opportunities to extend your assortment, or analyzing trends for inventory management.",
                "operationId": "get-search-terms",
                "parameters": [
                    {
                        "name": "search-term",
                        "in": "query",
                        "description": "The search term for which you want to request the search volume.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "period",
                        "in": "query",
                        "description": "The time unit in which the offer insights are grouped.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "DAY",
                                "WEEK",
                                "MONTH"
                            ]
                        }
                    },
                    {
                        "name": "number-of-periods",
                        "in": "query",
                        "description": "The number of periods for which the offer insights are requested back in time.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "related-search-terms",
                        "in": "query",
                        "description": "Indicates whether or not you want to retrieve the related search terms.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchTerms"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/inventory": {
            "get": {
                "tags": [
                    "Inventory"
                ],
                "summary": "Get LVB/FBB inventory",
                "description": "The inventory endpoint is a specific LVB/FBB endpoint. It provides a paginated list containing your fulfilment by bol.com inventory. This endpoint does not provide information about your own stock.",
                "operationId": "get-inventory",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The requested page number with a page size of 50 items.",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "Filter inventory by providing a range of quantity (min-range)-(max-range). Note that if no state query is submitted in the same request, then the quantity will be filtered on regularStock by default.",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": "0-10,20-30"
                    },
                    {
                        "name": "stock",
                        "in": "query",
                        "description": "Filter inventory by stock level.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "SUFFICIENT",
                                "INSUFFICIENT"
                            ]
                        },
                        "example": "SUFFICIENT"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "description": "Filter inventory by stock type.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "REGULAR",
                                "GRADED"
                            ]
                        },
                        "example": "REGULAR"
                    },
                    {
                        "name": "query",
                        "in": "query",
                        "description": "Filter inventory by EAN or product title.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0000007740404"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InventoryResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/invoices": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Get all invoices",
                "description": "Gets a list of invoices, by default from the past 4 weeks. The optional period-start-date and period-end-date-date parameters can be used together to retrieve invoices from a specific date range in the past, the period can be no longer than 31 days. Invoices and their specifications can be downloaded separately in different media formats with the ‘GET an invoice by id’ and the ‘GET an invoice specification by id’ calls. The available media types differ per invoice and are listed per invoice within the response. Note: the media types listed in the response must be given in our standard API format.",
                "operationId": "get-invoices",
                "parameters": [
                    {
                        "name": "period-start-date",
                        "in": "query",
                        "description": "Period start date in ISO 8601 standard.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2019-03-01"
                    },
                    {
                        "name": "period-end-date",
                        "in": "query",
                        "description": "Period end date in ISO 8601 standard.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2019-03-31"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/invoices/{invoice-id}": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Get an invoice by invoice id",
                "description": "Gets an invoice by invoice id. The available media types differ per invoice and are listed within the response from the ‘GET all invoices’ call. Note: the media types listed in the response must be given in our standard API format.",
                "operationId": "get-invoice",
                "parameters": [
                    {
                        "name": "invoice-id",
                        "in": "path",
                        "description": "The id of the invoice",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            },
                            "application/vnd.retailer.v10+pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            },
                            "application/vnd.retailer.v10+pdf": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/invoices/{invoice-id}/specification": {
            "get": {
                "tags": [
                    "Invoices"
                ],
                "summary": "Get an invoice specification by invoice id",
                "description": "Gets an invoice specification for an invoice with a paginated list of its transactions. The available media types differ per invoice specification and are listed within the response from the ‘GET all invoices’ call. Note, the media types listed in the response must be given in our standard API format.",
                "operationId": "get-invoice-specification",
                "parameters": [
                    {
                        "name": "invoice-id",
                        "in": "path",
                        "description": "The identifier of the invoice.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The requested page number with a maximum of 25,000 lines.",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            },
                            "application/vnd.retailer.v10+openxmlformats-officedocument.spreadsheetml.sheet": {
                                "schema": {
                                    "type": "string",
                                    "format": "byte"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            },
                            "application/vnd.retailer.v10+openxmlformats-officedocument.spreadsheetml.sheet": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            },
                            "application/vnd.retailer.v10+openxmlformats-officedocument.spreadsheetml.sheet": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/offers": {
            "post": {
                "tags": [
                    "Offers"
                ],
                "summary": "Create a new offer",
                "description": "Creates a new offer, and adds it to the catalog. After creation, status information can be retrieved to review if the offer is valid and published to the shop.",
                "operationId": "post-offer",
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOfferRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/offers/export": {
            "post": {
                "tags": [
                    "Offers"
                ],
                "summary": "Request an offer export file",
                "description": "Request an offer export file containing all offers.",
                "operationId": "post-offer-export",
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOfferExportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/offers/export/{report-id}": {
            "get": {
                "tags": [
                    "Offers"
                ],
                "summary": "Retrieve an offer export file by report id",
                "description": "Retrieve an offer export file containing all offers.",
                "operationId": "get-offer-export",
                "parameters": [
                    {
                        "name": "report-id",
                        "in": "path",
                        "description": "Unique identifier for an offer export file.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request."
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/offers/unpublished": {
            "post": {
                "tags": [
                    "Offers"
                ],
                "summary": "Request an unpublished offer report",
                "description": "Request an unpublished offer report containing all unpublished offers and reasons.",
                "operationId": "post-unpublished-offer-report",
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateUnpublishedOfferReportRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/offers/unpublished/{report-id}": {
            "get": {
                "tags": [
                    "Offers"
                ],
                "summary": "Retrieve an unpublished offer report by report id",
                "description": "Retrieve an unpublished offer report containing all unpublished offers and reasons.",
                "operationId": "get-unpublished-offer-report",
                "parameters": [
                    {
                        "name": "report-id",
                        "in": "path",
                        "description": "Unique identifier for unpublished offer report.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request."
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+csv": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/offers/{offer-id}": {
            "get": {
                "tags": [
                    "Offers"
                ],
                "summary": "Retrieve an offer by its offer id",
                "description": "Retrieve an offer by using the offer id provided to you when creating or listing your offers.",
                "operationId": "get-offer",
                "parameters": [
                    {
                        "name": "offer-id",
                        "in": "path",
                        "description": "Unique identifier for an offer.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetailerOffer"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Offers"
                ],
                "summary": "Update an offer",
                "description": "Use this endpoint to send an offer update. This endpoint returns a process status.",
                "operationId": "put-offer",
                "parameters": [
                    {
                        "name": "offer-id",
                        "in": "path",
                        "description": "Unique identifier for an offer.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateOfferRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Offers"
                ],
                "summary": "Delete offer by id",
                "description": "Delete an offer by id.",
                "operationId": "delete-offer",
                "parameters": [
                    {
                        "name": "offer-id",
                        "in": "path",
                        "description": "Unique identifier for an offer.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/offers/{offer-id}/price": {
            "put": {
                "tags": [
                    "Offers"
                ],
                "summary": "Update price(s) for offer by id",
                "description": "Update price(s) for offer by id.",
                "operationId": "update-offer-price",
                "parameters": [
                    {
                        "name": "offer-id",
                        "in": "path",
                        "description": "Unique identifier for an offer.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateOfferPriceRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/offers/{offer-id}/stock": {
            "put": {
                "tags": [
                    "Offers"
                ],
                "summary": "Update stock for offer by id",
                "description": "Update stock for offer by id.",
                "operationId": "update-offer-stock",
                "parameters": [
                    {
                        "name": "offer-id",
                        "in": "path",
                        "description": "Unique identifier for an offer.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateOfferStockRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get a list of orders",
                "description": "Gets a paginated list of all orders for a retailer.",
                "operationId": "get-orders",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The requested page number with a page size of 50 items.",
                        "required": false,
                        "schema": {
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        }
                    },
                    {
                        "name": "fulfilment-method",
                        "in": "query",
                        "description": "Fulfilled by the retailer (FBR) or fulfilled by bol.com (FBB). In order to retrieve both FBR and FBB orders, ALL can be used as a parameter.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "FBR",
                                "FBB",
                                "ALL"
                            ]
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "description": "To filter on order status. You can filter on either all orders independent from their status, open orders (excluding shipped and cancelled orders), and shipped orders.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "OPEN",
                                "SHIPPED",
                                "ALL"
                            ]
                        }
                    },
                    {
                        "name": "change-interval-minute",
                        "in": "query",
                        "description": "To filter on the period in minutes during which the latest change was performed on an order item.",
                        "required": false,
                        "schema": {
                            "maximum": 60,
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "latest-change-date",
                        "in": "query",
                        "description": "To filter on the date on which the latest change was performed on an order item. Up to 3 months of history is supported.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ReducedOrders"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/orders/cancellation": {
            "put": {
                "tags": [
                    "Orders"
                ],
                "summary": "Cancel an order item by an order item id",
                "description": "This endpoint can be used to either confirm a cancellation request by the customer or to cancel an order item you yourself are unable to fulfil.",
                "operationId": "cancel-order-item",
                "requestBody": {
                    "content": {
                        "application/vnd.retailer.v10+json": {
                            "schema": {
                                "$ref": "#/components/schemas/CancellationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Accepted: Successfully scheduled the request for processing.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProcessStatus"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/orders/{order-id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get an order by order id",
                "description": "Gets an order by order id. The order can be partially shipped or cancelled, and the message contains the quantity shipped or cancelled items. The unitPrice takes account of volume discounts.",
                "operationId": "get-order",
                "parameters": [
                    {
                        "name": "order-id",
                        "in": "path",
                        "description": "The id of the order to get.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Order"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/products/list": {
            "post": {
                "tags": [
                    "Products"
                ],
                "summary": "Get product list",
                "description": "Gets the list of products based on category, search term or filters.",
                "operationId": "get-product-list",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "The language in which the product list will be retrieved.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nl",
                                "nl-BE",
                                "nl-NL",
                                "fr-BE"
                            ]
                        },
                        "example": "nl"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductListRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductListResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/products/list-filters": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get product list filters",
                "description": "Gets the list of possible filters for products based on category or search term.",
                "operationId": "get-product-list-filters",
                "parameters": [
                    {
                        "name": "country-code",
                        "in": "query",
                        "description": "The country for which the filters will be retrieved.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NL",
                                "BE"
                            ]
                        },
                        "example": "NL"
                    },
                    {
                        "name": "search-term",
                        "in": "query",
                        "description": "The search-term to get the associated categories and filters for.",
                        "required": false,
                        "schema": {
                            "maxLength": 50,
                            "minLength": 0,
                            "type": "string"
                        },
                        "example": "pen"
                    },
                    {
                        "name": "category-id",
                        "in": "query",
                        "description": "The category to get the associated filters for.",
                        "required": false,
                        "schema": {
                            "maxLength": 11,
                            "minLength": 0,
                            "type": "string"
                        },
                        "example": 10505
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "The language in which the product list filters will be retrieved.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nl",
                                "nl-BE",
                                "nl-NL",
                                "fr-BE"
                            ]
                        },
                        "example": "nl"
                    },
                    {
                        "name": "productListFiltersRequest",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/ProductListFiltersRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductListFiltersResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/products/{ean}/assets": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get product assets",
                "description": "Gets the list of asset available for the product by EAN.",
                "operationId": "get-product-assets",
                "parameters": [
                    {
                        "name": "ean",
                        "in": "path",
                        "description": "The EAN number associated with this product.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0000007740404"
                    },
                    {
                        "name": "usage",
                        "in": "query",
                        "description": "Type of the asset being used for.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "PRIMARY",
                                "ADDITIONAL",
                                "IMAGE"
                            ]
                        },
                        "example": "ADDITIONAL"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductAssetsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/products/{ean}/offers": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get a list of competing offers by EAN",
                "description": "Use this endpoint to get a list of offers available in the webshop. The list includes offers for all retailers.",
                "operationId": "get-competing-offers",
                "parameters": [
                    {
                        "name": "ean",
                        "in": "path",
                        "description": "The EAN number associated with this product.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0000007740404"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The requested page number with a page size of 50 items.",
                        "required": false,
                        "schema": {
                            "maximum": 200,
                            "minimum": 1,
                            "type": "integer",
                            "format": "int32",
                            "default": 1
                        },
                        "example": 1
                    },
                    {
                        "name": "country-code",
                        "in": "query",
                        "description": "Countries in which this offer is currently on sale in the webshop, in ISO-3166-1 format.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NL",
                                "BE"
                            ]
                        },
                        "example": "NL"
                    },
                    {
                        "name": "best-offer-only",
                        "in": "query",
                        "description": "Indicator to request the best offer within the country for the requested EAN.",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": false
                        },
                        "example": true
                    },
                    {
                        "name": "condition",
                        "in": "query",
                        "description": "The condition of the offered product.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "ALL",
                                "BAD",
                                "MODERATE",
                                "REASONABLE",
                                "GOOD",
                                "AS_NEW",
                                "NEW"
                            ]
                        },
                        "example": "NEW"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CompetingOffersResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/products/{ean}/placement": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get product placement",
                "description": "Gets the list of categories and the URL where the product is placed in the webshop.",
                "operationId": "get-product-placement",
                "parameters": [
                    {
                        "name": "ean",
                        "in": "path",
                        "description": "The EAN number associated with this product.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0000007740404"
                    },
                    {
                        "name": "country-code",
                        "in": "query",
                        "description": "The country of the product placed on the webshop.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "NL",
                                "BE"
                            ]
                        },
                        "example": "NL"
                    },
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "description": "The language in which the product categories and URL will be retrieved.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "nl",
                                "nl-BE",
                                "fr-BE"
                            ]
                        },
                        "example": "nl"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductPlacementResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Not acceptable: The sent request header does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/retailer/products/{ean}/price-star-boundaries": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get price star boundaries by EAN",
                "description": "Gets a list of all price star boundaries for a specific EAN.",
                "operationId": "get-price-star-boundaries",
                "parameters": [
                    {
                        "name": "ean",
                        "in": "path",
                        "description": "The EAN number associated with this product.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "0000007740404"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Ok: Successfully processed the request.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PriceStarBoundaries"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not found: The requested item could not be found.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request: The sent request does not meet the API specification. Please check the error message(s) for more information.",
                        "content": {
                            "application/vnd.retailer.v10+json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Problem"
                                }
[...]
